<div class="infoA-head">
    <h1>PRESS</h1>
</div>

<!--************************* Design Sponge *************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="/v/vspfiles/images/articles/press/press_design_sponge_feature.jpg" target="_blank"><img src="/v/vspfiles/images/articles/press/press_design_sponge_cover.jpg"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://www.designsponge.com/2016/06/before-after-a-philadelphia-family-apartment-in-the-heart-of-the-city.html" target="_blank">Design Sponge | July 2016</a></h4>
        <p>The "envelope" of a renovation project is critical to its success. Mona of Mona Ross Berman Interiors in Philadelphia first sorts out the floor, walls, lighting, windows, hardware, doors, and other finishes in a home before focusing on bolder decorative touches. "Many people assume that furniture and accessories are what designers focus on to make a space work," she explains, "But really, I always start with the envelope because if that’s not working, nothing will look right." Her firm helped their clients — a family of six, including four daughters — transform their two-bedroom pied-a-terre at The Dorchester overlooking Rittenhouse Square. Built in 1980, the apartment needed a complete overhaul to give it the modern look the couple desired.
        </p>
    </div>
    <div class="clear"></div>
</div>





<!--************************* The Fashionable Hostess *************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="/v/vspfiles/images/articles/press/press_the_fashionable_hostess_feature.jpg" target="_blank"><img src="/v/vspfiles/images/articles/press/press_the_fashionable_hostess_cover.jpg"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://fashionablehostess.com/master-bedroom-update-miachateaufh/" target="_blank">The Fashionable Hostess | May 2016</a></h4>
        <p>While I have shared a few glimpses of my new bedroom in past blog posts or on my <a href="https://www.instagram.com/fashionablehostess/" target="_blank">instagram</a>, I am officially ready to reveal the finished look on the blog with our new bed, new bedside tables, and new table lamps completing the look. So, welcome to my cozy bedroom haven!! Our beautiful velvet baby blue bed comes from <a href="//www.mychicnest.com/ProductDetails.asp?ProductCode=554" target="_blank">My Chic Nest</a> and perfectly enough is named “The Amanda Bed” {a fab coincidence!!}!! My Chic Nest has a wide range of stunning <a href="https://www.mychicnest.com/SearchResults.asp?Cat=1821" target="_blank">beds and headboards</a>, especially if you love a whimsical feel, and with so many fabrics, colors, and details to choose from, each pieces feels truly one-of-a-kind. I wan’t sure if I made the right choice when ordering the blue, but from the moment it arrived I fell in love because it completely transformed our room! {And I also can’t get over how perfectly the color matches our <a href="https://www.bollandbranch.com/" target="_blank">Boll & Branch</a> organic bedding – you may remember that I featured it in <a href="http://fashionablehostess.com/boll-branch-bedding/" target="_blank">this post</a> from our Nashville house.}
        </p>
    </div>
    <div class="clear"></div>
</div>


<!--************************* ELLE DECOR *************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="/v/vspfiles/images/articles/press/press_elle_decor_feature.png" target="_blank"><img src="/v/vspfiles/images/articles/press/press_elle_decor_cover.jpg"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://www.elledecor.com/shopping/news/g3022/spring-trend-alert-floral-print/" target="_blank">Elle Decor | MAY 2016</a></h4>
        <p>My Chic Nest Sophie Headboard upholstered in Blue Flowers featured in the May 2016 issue of Elle Decor as part of their "Granny Florals" Trend Alert. <a href="/v/vspfiles/images/articles/press/press_elle_decor_feature.png" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>



<!--****************************** LONNY ******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://www.lonny.com/Whitney+Port+Revamps+Her+Screening+Room+With+Help+from+Joss+Main" target="_blank"><img src="/v/vspfiles/images/articles/press/press_lonny_cover.jpg"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://www.lonny.com/Whitney+Port+Revamps+Her+Screening+Room+With+Help+from+Joss+Main" target="_blank">Lonny | MAR 2016</a></h4>
        <p>When fashion designer and author Whitney Port wanted to revamp her home's screening room, she turned to Homepolish west coast creative director Orlando Soria, who worked with Joss & Main to give the star the perfect new viewing space to fit her refined California girl vibe. Keep clicking to check out the chic revamp... <a href="http://www.lonny.com/Whitney+Port+Revamps+Her+Screening+Room+With+Help+from+Joss+Main" target="_blank" class="rm">Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>


<!--******************************Mckenna Bleu******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://mckennableu.com/2015/05/white-bedroom.html" target="_blank"><img src="/v/vspfiles/images/articles/press/press_mckennableu_cover.jpg"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://mckennableu.com/2015/05/white-bedroom.html" target="_blank">Mckenna Bleu | MAY 2015</a></h4>
        <p>Coming from a girl who loves color, sometimes when it comes to home decor less is more. While designing our new bedroom here in DC my first priority was finding the perfect headboard. I fell in love with this (My Chic Nest) white tufted headboard from <a href="http://www.shopcandelabra.com/" target="_blank">Candelabra</a>, I’m not going to lie, if it wasn't for the hubby you know <a href="http://www.shopcandelabra.com/my-chic-nest-lexi-non-tufted-headboard" target="_blank">this hot pink one</a> would have been the winner. The majority of these headboards are completely customizable in the terms of size and color options, love that! I couldn’t be happier with our choice in the classic white and for now I’m loving the clean and simple look... <a href="http://mckennableu.com/2015/05/white-bedroom.html" target="_blank" class="rm">Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>


<!--******************************Clean Slate******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="/v/vspfiles/images/articles/press/press_cleanslate_feature.jpg" target="_blank"><img src="/v/vspfiles/images/articles/press/press_cleanslate_cover.jpg"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="/v/vspfiles/images/articles/press/press_cleanslate_feature.jpg" target="_blank">MY CHIC NEST | MAR 2015</a></h4>
        <p>Not every dream house is completely dreamy right from the start. But when you're lucky enough to find a place with good bones, anything is possible. And for this young, vibrant couple in digital advertising sales, the perfect pad was right across from their then-existing abode in River North. Since the loft space required a major overhaul in terms of updating and rearranging, interior designer Alexandra Berlin Kaehler of Alexandra Kaehler Design collaborated with Donovan Eckhardt-partner of CD Group LLC who was overseeing the project--from start to finish.<a href="/v/vspfiles/images/articles/press/press_cleanslate_feature.jpg" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>


<!--******************************House Beautiful******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="/v/vspfiles/images/articles/press/press_housebeautiful_cover_large.png" target="_blank"><img src="/v/vspfiles/images/articles/press/press_housebeautiful_cover.png"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="/v/vspfiles/images/articles/press/press_housebeautiful_feature_large.png" target="_blank">MY CHIC NEST | OCT 2014</a></h4>
        <p>A Girls' Room To Grow Into: Another Chicago couple moving into a historic Howard Van Doren Shaw house wanted a kids' bedroom that could suit their daughters for many years. "Youthful and fun, but classic". Kaehler says. She covered the walls in a whimsical Osborne & Little paper and chose an elegant mirrored nightstand substantial enough to double as a dresser. Some of Alexandra Kaehler's current obsessions include My Chic Nest's Sheila headboard: "My favorite ready-made headboard- clean, tailored, and a great price". Kaehler says.<a href="/v/vspfiles/images/articles/press/press_housebeautiful_feature_large.png" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************La Dolce Vita*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://paloma81.blogspot.com/2013/09/curated-shopping-by-chic-haus.html" target="_blank"><img src="/v/vspfiles/images/articles/press/press_ladolcevita.jpg"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://paloma81.blogspot.com/2013/09/curated-shopping-by-chic-haus.html" target="_blank">Curated Shopping By Chic Haus | SEP 26, 2013</a></h4>
        <p>What happens when two super stylish shop owners join forces to create a curated shopping experience for their customers? In the case of Danielle Benson, owner of Haus of Mason and Anna Kohler of My Chic Nest, their collaboration has resulted in some fabulous design inspiration for anyone looking to spruce up their home.<a href="http://paloma81.blogspot.com/2013/09/curated-shopping-by-chic-haus.html" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************The Relished roost*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://therelishedroost.blogspot.com/2013/09/my-chic-nest.html" target="_blank"><img src="/v/vspfiles/images/articles/press/press_relishedroost.jpg"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://therelishedroost.blogspot.com/2013/09/my-chic-nest.html" target="_blank">MY CHIC NEST | SEP 4, 2013</a></h4>
        <p>I was so happy to receive a note from Anna Kohler about the wonderful furniture site "My Chic Nest"! The furniture is fabulous! I am in love with the headboards and sofas, and I already have those noted for a potential project! If you don't already know about My Chic Nest please take the time to visit this site you will not be disappointed. I asked Anna about their philosophy behind this Chic line of furniture and I could not agree more with her statement!<a href="http://therelishedroost.blogspot.com/2013/09/my-chic-nest.html" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************Sea Island Drive*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://www.seaislanddrive.com/2013/08/my-chic-nest.html" target="_blank"><img src="/v/vspfiles/images/articles/press/press_seaisland.jpg"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://www.seaislanddrive.com/2013/08/my-chic-nest.html" target="_blank">My Chic Nest | AUG 27, 2013</a></h4>
        <p>Some of the most beautiful Hollywood Regency and timeless looking furniture in jewel tone hues made just for you! Now quality takes time, and while My Chic Nest does have a pretty standard 6-8 week lead time, they have just recently launched a 'Fast Ship' program where product ships in 1-3 weeks! Oh, and did I mention that they have free shipping to 48 states? Sold!<a href="http://www.seaislanddrive.com/2013/08/my-chic-nest.html" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************Sadie and Stella*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://www.sadieandstella.com/2013/07/my-chic-nest.html" target="_blank"><img src="/v/vspfiles/images/articles/press/press_SS.jpg"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://www.sadieandstella.com/2013/07/my-chic-nest.html" target="_blank">MY CHIC NEST | JUL 11, 2013</a></h4>
        <p>
            The loveliest of ladies. I ask of you. Have you ever heard of My Chic Nest? They are my decor go to for all things fabulous and all things tufted. I recently completed a design for a client and our first goal was to have a romantic headboard that centered the room and drew the eye. Enter My Chic Nest.
            <a href="http://www.sadieandstella.com/2013/07/my-chic-nest.html" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************The Greywood*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://thegreywood.com/shop" target="_blank"><img src="/v/vspfiles/images/articles/press/press_greywood.gif"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://thegreywood.com/shop" target="_blank">My Chic Nest | MAY 17, 2013</a></h4>
        <p>
            My Chic Nest is thrilled to have partnered with The Greywood, a luxury rental property in the heart of New York City. Take a look at our furniture that is featured in their model units.
            <a href="http://thegreywood.com/shop" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************Style Me Pretty Living*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://www.stylemepretty.com/living/2013/03/16/smp-living-welcomes-our-advertisers-giveaways-discounts/" target="_blank"><img src="/v/vspfiles/images/articles/press/press_stylemeprettyLiving.gif"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://www.stylemepretty.com/living/2013/03/16/smp-living-welcomes-our-advertisers-giveaways-discounts/" target="_blank">SMP Living Welcomes Our Advertisers + Giveaways + Discounts! | MAR 16, 2013</a></h4>
        <p>
            Here at SMP Living, we have a little obsession. And that obsession is called interior design. Which is why we can’t seem to get enough of My Chic Nest, the brand that is completely dedicated to creating timeless, unique and high-quality designs that are accessible to each and every one of us. I’m talking everything from oh-so-chic sofas to beyond beautiful headboards to ottomans with style for miles… and miles. And My Chic Nest is all about bringing stylish decor to the masses, so there’s not a piece on their website that won’t leave you completely gushing
            <a href="http://www.stylemepretty.com/living/2013/03/16/smp-living-welcomes-our-advertisers-giveaways-discounts/" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************Champagne Lifestyle*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://champagnelifestyles.blogspot.com/2013/03/project-office-my-chic-nest.html" target="_blank"><img src="/v/vspfiles/images/articles/press/press_champagneLifestyle.gif"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://champagnelifestyles.blogspot.com/2013/03/project-office-my-chic-nest.html" target="_blank">Project Office: My Chic Nest | MAR 15, 2013</a></h4>
        <p>
            In my hunt for the perfect bench I came across the most amazing online furniture store. My Chic Nest is a furniture store that dons not only the most unique styles, but also allows you to pick the fabric color and type.
            <a href="http://champagnelifestyles.blogspot.com/2013/03/project-office-my-chic-nest.html" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************Material Girls*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://materialgirlsblog.com/dallas/2013/03/04/welcome-to-our-newest-sponsor-my-chic-nest/" target="_blank"><img src="/v/vspfiles/images/articles/press/press_materialGirls.gif"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://materialgirlsblog.com/dallas/2013/03/04/welcome-to-our-newest-sponsor-my-chic-nest/" target="_blank">Welcome to Our Newest Sponsor… My Chic Nest! | MAR 4, 2013</a></h4>
        <p>
            Do you dream about interiors done up in Hollywood Regency? How about 1920’s style and flare?…. Then find yourself asking how on Earth can I afford to make something like that happen in my own home?….. Well look no further! My Chic Nest is the answer we’ve all been waiting for!
            <a href="http://materialgirlsblog.com/dallas/2013/03/04/welcome-to-our-newest-sponsor-my-chic-nest/" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************THINGS THAT SPARKLE*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://www.thingsthatsparkleblog.com/2012/12/my-chic-nest.html" target="_blank"><img src="/v/vspfiles/images/articles/press/press_thingsThatSparkle.gif"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://www.thingsthatsparkleblog.com/2012/12/my-chic-nest.html" target="_blank">My Chic Nest | DEC 6, 2012</a></h4>
        <p>
            I am excited to introduce you to our newest TTS sponsor, a gorgeous new line of furniture, My Chic Nest. Aside from the colors, fabrics and beautiful lines, what I love most... are the prices! My Chic Nest offers pieces that have a custom feel but at a fantastic price point. And even better? They always offer free shipping. Free shipping on furniture! Sometimes the cost of shipping is the same price as the piece you just bought. Oh and one last thing, everything on the website is currently 10% off!
            <a href="http://www.thingsthatsparkleblog.com/2012/12/my-chic-nest.html" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************M STEVENS*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://maureenstevens.com/2012/12/my-chic-nest-gem-inspired-furnishings/" target="_blank"><img src="/v/vspfiles/images/articles/press/press_mStevens.gif"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://maureenstevens.com/2012/12/my-chic-nest-gem-inspired-furnishings/" target="_blank">My Chic Nest: Gem Inspired Furnishings | DEC 3, 2012</a></h4>
        <p>
            The lovely lady above is none other than Anna Kohler. She is a wonderful interior designer whose apartment was featured in Renovation Style magazine in Winter 2010. Not only can we get design cues from her but she recently launched a furniture line that’s all about high style, Hollywood regency and timeless yet oh-so-affordable, My Chic Nest. There’s a few on my list I’m itching to have. I’m thoroughly smitten by these plush velvet selections that looks like gemstones to me.
            <a href="http://maureenstevens.com/2012/12/my-chic-nest-gem-inspired-furnishings/" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************DARLING HOUSE*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://mydarlinghouse.blogspot.com/2012/11/newest-obsession-my-chic-nest.html" target="_blank"><img src="/v/vspfiles/images/articles/press/press_darlingHouse.gif"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://mydarlinghouse.blogspot.com/2012/11/newest-obsession-my-chic-nest.html" target="_blank">Newest Obsession: My Chic Nest | NOV 14, 2012</a></h4>
        <p>
            Morning darlings! You know when you go to a really good party and they have a dessert buffet? Like, a good one, with tons of tiny adorable chocolates and mini cheesecakes and
            cream puffs and mini fruit tortes? And you can't decide so you eat all of them, like a thousand calories worth, but you don't care cause they're so good?
            <a href="http://mydarlinghouse.blogspot.com/2012/11/newest-obsession-my-chic-nest.html" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************BETSEY AND BECCA*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://betseyandbecca.blogspot.com/2012/11/my-chic-nest.html" target="_blank"><img src="/v/vspfiles/images/articles/press/press_betseyAndBecca.gif"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://betseyandbecca.blogspot.com/2012/11/my-chic-nest.html" target="_blank">My Chic Nest | NOV 10, 2012</a></h4>
        <p>
            We have lots of exciting info coming soon. Life is slowing down for me, thank goodness, and Becca and I have some surprises up our sleeve to show you all! In the meantime we will be spending the next few weeks with Holiday Wishlists, projects from our own homes and others that we have helped with, some great home tours and guest posts.
            <a href="http://betseyandbecca.blogspot.com/2012/11/my-chic-nest.html" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************LA DOLCE VITA*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://paloma81.blogspot.com/2012/11/sponsor-spotlight-my-chic-nest.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+blogspot%2Fladolcevitablog+%28La+Dolce+Vita%29&utm_content=FaceBook" target="_blank"><img src="/v/vspfiles/images/articles/press/press_laDolceVita.gif"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://paloma81.blogspot.com/2012/11/sponsor-spotlight-my-chic-nest.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+blogspot%2Fladolcevitablog+%28La+Dolce+Vita%29&utm_content=FaceBook" target="_blank">Sponsor Spotlight: My Chic Nest | NOV 05, 2012</a></h4>
        <p>
            Back in early 2010, I blogged about Anna Kohler's stylish home after seeing it in Renovation Style. Her home was chic, modern, and perfectly tailored. It continues to be an inspiration today, so you can imagine my excitement when I recently heard from Anna who had contacted me to share the news that she was launching her own furniture line! My Chic Nest is a reflection of Anna's timeless, glamorous style. Each piece is special and unique—perfect for creating one's own signature look. After working in interior design for several years, Anna knew how expensive it could be to have custom furniture made. Realizing that other people also longed for special, statement-making pieces, Anna has launched My Chic Nest, "a brand dedicated to creating timeless, unexpected and high-quality designs that are accessible to all of us." My Chic Nest offers furniture inspired by several design periods—Art Deco, Hollywood Regency and anything in between. Best of all, My Chic Nest offers "chic décor to the masses—for a song"
            <a href="http://paloma81.blogspot.com/2012/11/sponsor-spotlight-my-chic-nest.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+blogspot%2Fladolcevitablog+%28La+Dolce+Vita%29&utm_content=FaceBook" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>
</div>
<!--*******************************APARTMENT THERAPY*******************************-->
<div class="infoA-row">
    <div class="infoA-1">
        <a href="http://www.apartmenttherapy.com/my-chic-nest-style-on-a-budget-store-profile-178182" target="_blank"><img src="/v/vspfiles/images/articles/press/press_aptTherapy.gif"/></a>
    </div>
    <div class="infoA-2">
        <h4><a href="http://www.apartmenttherapy.com/my-chic-nest-style-on-a-budget-store-profile-178182" target="_blank">My Chic Nest: Style on a Budget | OCT 2012</a></h4>
        <p>
            Interior designer Anna Kohler believes that good design need not cost a fortune. To back up her beliefs, Anna launched her online shop, My Chic Nest, last month. The shop features over 60 classic and original designs of sofas, loveseats, daybeds, sectionals, lounge chairs, dining chairs, stools and headboards.
            <a href="http://www.apartmenttherapy.com/my-chic-nest-style-on-a-budget-store-profile-178182" target="_blank" class="rm">... Read More</a>
        </p>
    </div>
    <div class="clear"></div>

</div>