<div class="row">
    <div class="col-xs-12 flex-center">
        <div class="shop-cat-box">
            <a href="/SearchResults.asp?Cat=1817"><img src="\v\vspfiles\assets\images\articles\shop\sofas-and-loveseats.jpg" class="img-responsive" alt="Sofas and Loveseats" title="Sofas & Loveseats"/></a>
        </div>
        <div class="shop-cat-box">
            <a href="/SearchResults.asp?Cat=1822"><img src="\v\vspfiles\assets\images\articles\shop\lounge-chairs.jpg" class="img-responsive" alt="Lounge Chairs" title="Lounge Chairs"/></a>
        </div>
        <div class="shop-cat-box">
            <a href="/SearchResults.asp?Cat=1820"><img src="\v\vspfiles\assets\images\articles\shop\sectionals.jpg" class="img-responsive" alt="Sectionals" title="Sectionals"/></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 flex-center">
        <div class="shop-cat-box">
            <a href="/SearchResults.asp?Cat=1823"><img src="\v\vspfiles\assets\images\articles\shop\dining-chairs.jpg" class="img-responsive" alt="Dining Chairs" title="Dining Chairs"/></a>
        </div>
        <div class="shop-cat-box">
            <a href="/SearchResults.asp?Cat=1821"><img src="\v\vspfiles\assets\images\articles\shop\headboards.jpg" class="img-responsive" alt="Headboards" title="Headboards"/></a>
        </div>
        <div class="shop-cat-box">
            <a href="/SearchResults.asp?Cat=1826"><img src="\v\vspfiles\assets\images\articles\shop\benches-and-ottomans.jpg" class="img-responsive" alt="Benches and Ottomans" title="Benches & Ottomans"/></a>
        </div>
    </div>
</div>