<form name="swatch-request-form" method="post" action="emailform.asp" onsubmit="return validateForm()" id="sr-form">

    <p class="sr-text">We are happy to mail up to five of your favorite samples so you can see them in person before making your purchase. Samples are free of charge. For orders of 6 or more, please contact us at <a href="mailto:customerservice@mychicnest.com" target="_blank">customerservice@mychicnest.com</a>. In addition to our line of fabrics, we offer the option of C.O.M. (Customer's own material) on any of our upholstered pieces. For more information, please email <a href="mailto:customerservice@mychicnest.com" target="_blank">customerservice@mychicnest.com</a>.</p>

    <h2 class="sr-step">STEP 1 - Enter your Mailing Address</h2>

    <ul class="sr-form-mailing">
        <li><label for="first-name">First name<span class="red">*</span></label><input type="text" id="first-name" name="first-name" required /></li>
        <li><label for="last-name">Last name<span class="red">*</span></label><input type="text" id="last-name" name="last-name" required /></li>
        <li><label for="company">Company </label><input type="text" id="company" name="company"/></li>
        <li><label for="address1">Address 1<span class="red">*</span></label><input type="text" id="address1" name="address1" required /></li>
        <li><label for="address2">Address 2 </label><input type="text" id="address2" name="address2" /></li>
        <li><label for="city">City<span class="red">*</span></label><input type="text" id="city" name="city" required /></li>
        <li><label for="state">State<span class="red">*</span></label><input type="text" id="state" name="state" required /></li>
        <li><label for="country">Country<span class="red">*</span></label><input type="text" id="country" name="country" required /></li>
        <li><label for="postal-code">Zip / Postal Code<span class="red">*</span></label><input type="text" id="postal-code" name="postal-code" required /></li>
        <li><label for="phone">Phone Number </label><input type="tel" id="phone" name="phone" /></li>
        <li><label for="email">Email Address<span class="red">*</span></label><input type="email" id="email" name="email" required /></li>
    </ul>

    <div class="sr-required"><span class="red">*</span> = Required</div>

    <h2 class="sr-step">STEP 2 - Choose up to 5 Fabric Samples</h2>

    <div id="sr-swatches">





        <div class="sr-group">
            <h3 class="sr-group-title">WOVEN POLYESTER</h3>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/woven-polyester/white-milford-ii.jpg" alt="White Milford II" />
                <div class="sr-description">
                    <input type="checkbox" name="white-milford-ii" id="white-milford-ii" /><label for="white-milford-ii">White Milford II</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/woven-polyester/metrolinen-latte.jpg" alt="Metrolinen Latte" />
                <div class="sr-description">
                    <input type="checkbox" name="metrolinen-latte" id="metrolinen-latte" /><label for="metrolinen-latte">Metrolinen Latte</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/woven-polyester/almond-bennett-ii.jpg" alt="Almond Bennett II" />
                <div class="sr-description">
                    <input type="checkbox" name="almond-bennett-ii" id="almond-bennett-ii" /><label for="almond-bennett-ii">Almond Bennett II</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/woven-polyester/chocolate-marlow-ii.jpg" alt="Chocolate Marlow II" />
                <div class="sr-description">
                    <input type="checkbox" name="chocolate-marlow-ii" id="chocolate-marlow-ii" /><label for="chocolate-marlow-ii">Chocolate Marlow II</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/woven-polyester/blue-bird-marlow-ii.jpg" alt="Blue Bird Marlow II" />
                <div class="sr-description">
                    <input type="checkbox" name="blue-bird-marlow-ii" id="blue-bird-marlow-ii" /><label for="blue-bird-marlow-ii">Blue Bird Marlow II</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/woven-polyester/dolphin-marlow-ii.jpg" alt="Dolphin Marlow II" />
                <div class="sr-description">
                    <input type="checkbox" name="dolphin-marlow-ii" id="dolphin-marlow-ii" /><label for="dolphin-marlow-ii">Dolphin Marlow II</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/woven-polyester/charcoal-milford-ii.jpg" alt="Charcoal Milford II" />
                <div class="sr-description">
                    <input type="checkbox" name="charcoal-milford-ii" id="charcoal-milford-ii" /><label for="charcoal-milford-ii">Charcoal Milford</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/woven-polyester/metrolinen-grey.jpg" alt="Metrolinen Grey" />
                <div class="sr-description">
                    <input type="checkbox" name="metrolinen-grey" id="metrolinen-grey" /><label for="metrolinen-grey">Metrolinen Grey</label>
                </div>
            </div>

            <div class="clear-both"></div>
        </div>
        <!-- end .sr-group -->




        <div class="sr-group">
            <h3 class="sr-group-title">COTTON-POLY BLENDS</h3>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/cotton-poly-blends/sherlock-grey.jpg" alt="Sherlock Grey" />
                <div class="sr-description">
                    <input type="checkbox" name="sherlock-grey" id="sherlock-grey" /><label for="sherlock-grey">Sherlock Grey</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/cotton-poly-blends/sherlock-dark-grey.jpg" alt="Sherlock Dark Grey" />
                <div class="sr-description">
                    <input type="checkbox" name="sherlock-dark-grey" id="sherlock-dark-grey" /><label for="sherlock-dark-grey">Sherlock Dark Grey</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/cotton-poly-blends/sherlock-chocolate.jpg" alt="Sherlock Chocolate" />
                <div class="sr-description">
                    <input type="checkbox" name="sherlock-chocolate" id="sherlock-chocolate" /><label for="sherlock-chocolate">Sherlock Chocolate</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/cotton-poly-blends/savvy-quail.jpg" alt="Savvy Quail" />
                <div class="sr-description">
                    <input type="checkbox" name="savvy-quail" id="savvy-quail" /><label for="savvy-quail">Savvy Quail</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/cotton-poly-blends/benan-purple.jpg" alt="Benan Purple" />
                <div class="sr-description">
                    <input type="checkbox" name="benan-purple" id="benan-purple" /><label for="benan-purple">Benan Purple</label>
                </div>
            </div>

            <div class="clear-both"></div>
        </div>
        <!-- end .sr-group -->






        <div class="sr-group">
            <h3 class="sr-group-title">POLYESTER</h3>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/tuckerstone.jpg" alt="Tuckerstone" />
                <div class="sr-description">
                    <input type="checkbox" name="tuckerstone" id="tuckerstone" /><label for="tuckerstone">Tuckerstone</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/sachi-glacier.jpg" alt="Sachi Glacier" />
                <div class="sr-description">
                    <input type="checkbox" name="sachi-glacier" id="sachi-glacier" /><label for="sachi-glacier">Sachi Glacier</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/everglades021.jpg" alt="Everglades 021" />
                <div class="sr-description">
                    <input type="checkbox" name="everglades021" id="everglades021" /><label for="everglades021">Everglades 021</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/everglades-ever210.jpg" alt="Everglades Ever210" />
                <div class="sr-description">
                    <input type="checkbox" name="everglades-ever210" id="everglades-ever210" /><label for="everglades-ever210">Everglades Ever210</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/dawson-carafe.jpg" alt="Dawson Carafe" />
                <div class="sr-description">
                    <input type="checkbox" name="dawson-carafe" id="dawson-carafe" /><label for="dawson-carafe">Dawson Carafe</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/diamond-dove.jpg" alt="Diamond Dove" />
                <div class="sr-description">
                    <input type="checkbox" name="diamond-dove" id="diamond-dove" /><label for="diamond-dove">Diamond Dove</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/diamond-espresso.jpg" alt="Diamond Espresso" />
                <div class="sr-description">
                    <input type="checkbox" name="diamond-espresso" id="diamond-espresso" /><label for="diamond-espresso">Diamond Espresso</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/savona-surf.jpg" alt="Savona Surf" />
                <div class="sr-description">
                    <input type="checkbox" name="savona-surf" id="savona-surf" /><label for="savona-surf">Savona Surf</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/savona-ink.jpg" alt="Savona Ink" />
                <div class="sr-description">
                    <input type="checkbox" name="savona-ink" id="savona-ink" /><label for="savona-ink">Savona Ink</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/savona-fuchsia.jpg" alt="Savona Fuchsia" />
                <div class="sr-description">
                    <input type="checkbox" name="savona-fuchsia" id="savona-fuchsia" /><label for="savona-fuchsia">Savona Fuchsia</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/sachi-ruby.jpg" alt="Sachi Ruby" />
                <div class="sr-description">
                    <input type="checkbox" name="sachi-ruby" id="sachi-ruby" /><label for="sachi-ruby">Sachi Ruby</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/sachi-wheatgrass.jpg" alt="Sachi Wheatgrass" />
                <div class="sr-description">
                    <input type="checkbox" name="sachi-wheatgrass" id="sachi-wheatgrass" /><label for="sachi-wheatgrass">Sachi Wheatgrass</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/polyester/sachi-black.jpg" alt="Sachi Black" />
                <div class="sr-description">
                    <input type="checkbox" name="sachi-black" id="sachi-black" /><label for="sachi-black">Sachi Black</label>
                </div>
            </div>

            <div class="clear-both"></div>
        </div>
        <!-- end .sr-group -->





        <div class="sr-group">
            <h3 class="sr-group-title">LEATHERETTES</h3>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/leatherettes/lexi-white.jpg" alt="Lexi White" />
                <div class="sr-description">
                    <input type="checkbox" name="lexi-white" id="lexi-white" /><label for="lexi-white">Lexi White</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/leatherettes/ford-gold.jpg" alt="Ford Gold" />
                <div class="sr-description">
                    <input type="checkbox" name="ford-gold" id="ford-gold" /><label for="ford-gold">Ford Gold</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/leatherettes/sizzle-bronze.jpg" alt="Sizzle Bronze" />
                <div class="sr-description">
                    <input type="checkbox" name="sizzle-bronze" id="sizzle-bronze" /><label for="sizzle-bronze">Sizzle Bronze</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/leatherettes/ford-chestnut.jpg" alt="Ford Chestnut" />
                <div class="sr-description">
                    <input type="checkbox" name="ford-chestnut" id="ford-chestnut" /><label for="ford-chestnut">Ford Chestnut</label>
                </div>
            </div>

            <div class="clear-both"></div>
        </div>
        <!-- end .sr-group -->




        <div class="sr-group">
            <h3 class="sr-group-title">LUXURY VELVETS</h3>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/bella-pearl.jpg" alt="Bella Pearl" />
                <div class="sr-description">
                    <input type="checkbox" name="bella-pearl" id="bella-pearl" /><label for="bella-pearl">Bella Pearl</label>
                </div>
            </div>


            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/emanuel-white.jpg" alt="Emanuel White" />
                <div class="sr-description">
                    <input type="checkbox" name="emanuel-white" id="emanuel-white" /><label for="emanuel-white">Emanuel White</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/bella-coffee.jpg" alt="Bella Coffee" />
                <div class="sr-description">
                    <input type="checkbox" name="bella-coffee" id="bella-coffee" /><label for="bella-coffee">Bella Coffee</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/bella-granite.jpg" alt="Bella Granite" />
                <div class="sr-description">
                    <input type="checkbox" name="bella-granite" id="bella-granite" /><label for="bella-granite">Bella Granite</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/liberty-charcoal.jpg" alt="Liberty Charcoal" />
                <div class="sr-description">
                    <input type="checkbox" name="liberty-charcoal" id="liberty-charcoal" /><label for="liberty-charcoal">Liberty Charcoal</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/bella-pewter.jpg" alt="Bella Pewter" />
                <div class="sr-description">
                    <input type="checkbox" name="bella-pewter" id="bella-pewter" /><label for="bella-pewter">Bella Pewter</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/zeros-cobalt-blue.jpg" alt="Zeros Cobalt Blue" />
                <div class="sr-description">
                    <input type="checkbox" name="zeros-cobalt-blue" id="zeros-cobalt-blue" /><label for="zeros-cobalt-blue">Zeros Cobalt Blue</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/zeros-turquoise.jpg" alt="Zeros Turquoise" />
                <div class="sr-description">
                    <input type="checkbox" name="zeros-turquoise" id="zeros-turquoise" /><label for="zeros-turquoise">Zeros Turquoise</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/zeros-green.jpg" alt="Zeros Green" />
                <div class="sr-description">
                    <input type="checkbox" name="zeros-green" id="zeros-green" /><label for="zeros-green">Zeros Green</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/bella-nile.jpg" alt="Bella Nile" />
                <div class="sr-description">
                    <input type="checkbox" name="bella-nile" id="bella-nile" /><label for="bella-nile">Bella Nile</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/milano-raspberry.jpg" alt="Milano Raspberry" />
                <div class="sr-description">
                    <input type="checkbox" name="milano-raspberry" id="milano-raspberry" /><label for="milano-raspberry">Milano Raspberry</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/luxury-velvets/sera-purple.jpg" alt="Sera Purple" />
                <div class="sr-description">
                    <input type="checkbox" name="sera-purple" id="sera-purple" /><label for="sera-purple">Sera Purple</label>
                </div>
            </div>

            <div class="clear-both"></div>
        </div>
        <!-- end .sr-group -->



        <div class="sr-group">
            <h3 class="sr-group-title">VELVETS</h3>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/velvets/vanilla-1-benson.jpg" alt="Vanilla: 1 Benson" />
                <div class="sr-description">
                    <input type="checkbox" name="vanilla-1-benson" id="vanilla-1-benson" /><label for="vanilla-1-benson">Vanilla: 1 Benson</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/velvets/mauve-33-benson.jpg" alt="Mauve: 33 Benson" />
                <div class="sr-description">
                    <input type="checkbox" name="mauve-33-benson" id="mauve-33-benson" /><label for="mauve-33-benson">Mauve: 33 Benson</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/velvets/capri-36-benson.jpg" alt="Capri: 36 Benson" />
                <div class="sr-description">
                    <input type="checkbox" name="capri-36-benson" id="capri-36-benson" /><label for="capri-36-benson">Capri: 36 Benson</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/velvets/shadow-empire-iii.jpg" alt="Shadow: Empire III" />
                <div class="sr-description">
                    <input type="checkbox" name="shadow-empire-iii" id="shadow-empire-iii" /><label for="shadow-empire-iii">Shadow: Empire III</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/velvets/dove-6-benson.jpg" alt="Dove: 6 Benson" />
                <div class="sr-description">
                    <input type="checkbox" name="dove-6-benson" id="dove-6-benson" /><label for="dove-6-benson">Dove: 6 Benson</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/velvets/latte-25-benson.jpg" alt="Latte: 25 Benson" />
                <div class="sr-description">
                    <input type="checkbox" name="latte-25-benson" id="latte-25-benson" /><label for="latte-25-benson">Latte: 25 Benson</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/velvets/truffle-18-benson.jpg" alt="Truffle: 18 Benson" />
                <div class="sr-description">
                    <input type="checkbox" name="truffle-18-benson" id="truffle-18-benson" /><label for="truffle-18-benson">Truffle: 18 Benson</label>
                </div>
            </div>

            <div class="clear-both"></div>
        </div>
        <!-- end .sr-group -->




        <div class="sr-group">
            <h3 class="sr-group-title">LINEN POLY BLENDS</h3>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/linen-poly-blends/light-mauve-whitney.jpg" alt="Light Mauve: Whitney" />
                <div class="sr-description">
                    <input type="checkbox" name="light-mauve-whitney" id="light-mauve-whitney" /><label for="light-mauve-whitney">Light Mauve: Whitney</label>
                </div>
            </div>

            <div class="sr-panel">
                <img src="v/vspfiles/swatches/linen-poly-blends/caitlin-putty.jpg" alt="Caitlin Putty" />
                <div class="sr-description">
                    <input type="checkbox" name="caitlin-putty" id="caitlin-putty" /><label for="caitlin-putty">Caitlin Putty</label>
                </div>
            </div>

            <div class="clear-both"></div>
        </div>
        <!-- end .sr-group -->


    </div>
    <!--- end #sr-swatches -->


    <h2 class="sr-step margin-top10">STEP 3 - Please enter the following code into the box provided</h2>

    <p class="sr-text">
        $(Verification_Image)<br />
        <input type="text" name="Verification_Code" /><br />
        <input type="submit" name="submit" value="submit">
    </p>

    <input type="hidden" name="email_From" value="swatch-request@mychicnest.com">
    <input type="hidden" name="email_To" value="customerservice@mychicnest.com">
    <input type="hidden" name="email_Subject" value="Contact Form Submission">
    <input type="hidden" name="email_ThankYou" value="Thank you for submitting your request.">
    <input type="hidden" name="email_Redirect" value="">

</form>