</main><!-- /#content_area -->
    </div>





    <div class="container footer-mobile">
        <footer>

            <!-- Newsletter Signup -->
            <div class="row bg-color-secondary newsletter-signup">
                <div class="col-xs-12 padding-top15 padding-bottom15">
                    <p class="text-center text-uppercase">Sign up - Join our newsletter and save $15</p>
                    <form action="#" name="newsletter-submit">
                        <div class="input-group">
                            <input type="text" class="form-control" name="email-address" value="Enter your email address" onfocus="this.value = ( this.value == this.defaultValue ) ? '' : this.value;return true;">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
                        </div><!-- /.input-group -->
                    </form>
                </div>
            </div><!-- /.row -->

            <!-- Footer Links 1 -->
            <div class="row template-footer">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title text-uppercase">
                                <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Customer Service
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                <ul class="footer-links">
                                    <li><a href="/help_answer.asp?ID=9">FAQs</a></li>
                                    <li><a href="/Articles.asp?ID=283">Free Shipping</a></li>
                                    <li><a href="/Articles.asp?ID=279">Swatch Request</a></li>
                                    <li><a href="/Articles.asp?ID=284">Product Care</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->

            <!-- Horizontal Rule -->
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                </div>
            </div><!-- /.row -->

            <!-- Footer Links 2 -->
            <div class="row template-footer">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title text-uppercase">
                                <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    My Chic Nest
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">

                                <ul class="footer-links">
                                    <li><a href="/aboutus.asp">About Us</a></li>
                                    <li><a href="/Articles.asp?ID=262">Press</a></li>
                                    <li><a href="#">Made in America</a></li>
                                    <li><a href="#">Design Boards</a></li>
                                    <li><a href="#">Our Process</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->

            <!-- Horizontal Rule -->
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                </div>
            </div><!-- /.row -->

            <!-- Footer Links 3 -->
            <div class="row template-footer">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title text-uppercase">
                                <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Contact Us
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">

                                <ul class="footer-links">
                                    <li><a href="mailto:anna@mychicnest.com?subject=Contact Us">customerservice@mychicnest.com</a></li>
                                    <li><a href="mailto:corporate@mychicnest.com">corporate@mychicnest.com</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->


            <div class="row text-center em30 bg-color-secondary padding-vert10">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="row">

                                <!-- Social Media - Row 1 -->
                                <div class="col-xs-4 touch-target">
                                    <a href="#" class="text-color-secondary">
                                        <span class="icon-facebook" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="col-xs-4 touch-target">
                                    <a href="#" class="text-color-secondary">
                                        <span class="icon-twitter" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="col-xs-4 touch-target">
                                    <a href="#" class="text-color-secondary">
                                        <span class="icon-pinterest" aria-hidden="true"></span>
                                    </a>
                                </div>

                            </div>

                        </div>


                        <div class="col-sm-6">

                            <div class="row">

                                <!-- Social Media - Row 2 -->
                                <div class="col-xs-4 touch-target">
                                    <a href="#" class="text-color-secondary">
                                        <span class="icon-instagram" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="col-xs-4 touch-target">
                                    <a href="#" class="text-color-secondary">
                                        <span class="icon-blogger" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="col-xs-4 touch-target">
                                    <a href="#" class="text-color-secondary">
                                        <span class="icon-houzz" aria-hidden="true"></span>
                                    </a>
                                </div>

                            </div><!-- /.row -->

                        </div>


                    </div><!-- /.row -->



                </div>

            </div><!-- /.row -->


            <!-- Social Media - Houzz -->
            <div class="row bg-color-secondary flex-space-around padding-vert10">
                <div class="col-xs-4 template-buttons-social touch-target">
                    <a href="//www.houzz.com/pro/mychicnest/my-chic-nest" target="_blank"><img src="/v/vspfiles/templates/mcn-rwd-2016/images/template/social/houzz-badge-2016.png" alt="Houzz Best of 2016" class="img-responsive"></a>
                </div>
                <div class="col-xs-4 template-buttons-social touch-target">
                    <a href="//www.houzz.com/pro/mychicnest/my-chic-nest" target="_blank"><img src="/v/vspfiles/templates/mcn-rwd-2016/images/template/social/houzz-badge-2014.png" alt="Houzz Best of 2014" class="img-responsive"></a>
                </div>
                <div class="col-xs-4 template-buttons-social touch-target">
                    <a href="//www.houzz.com/pro/mychicnest/my-chic-nest" target="_blank"><img src="/v/vspfiles/templates/mcn-rwd-2016/images/template/social/houzz-badge-2013.png" alt="Houzz Best of 2013" class="img-responsive"></a>
                </div>
                <div class="col-xs-4 template-buttons-social touch-target houzz-saves-badge">
                    <a href="//www.houzz.com/pro/mychicnest/my-chic-nest" target="_blank"><img src="/v/vspfiles/templates/mcn-rwd-2016/images/template/social/houzz-1k-saves.png" alt="Houzz 1K saves" class="img-responsive"></a>
                </div>
            </div><!-- /.row -->


            <!-- Copyright, Terms & Conditions, Privacy Policy -->
            <div class="row text-center bg-color-secondary padding-vert10">
                <div class="col-xs-12">
                    &copy; 2016 My Chic Nest LLC. All Rights Reserved.
                </div>
                <div class="col-xs-12">
                    <a href="http://www.mychicnest.com/terms.asp">Terms and Conditions</a> | <a href="http://www.mychicnest.com/terms_privacy.asp">Privacy Policy</a>
                </div>
            </div><!-- /.row -->



            <!-- Image Credits -->
            <div class="row text-center bg-color-secondary padding-vert10">
                <div class="col-xs-12 template-legal">
                    <span>IMAGE OF IDA DAYBED</span>&nbsp<span>Credits: Designer: Alexandra Kaehler</span>&nbsp|&nbsp<span>Photographer: Cynthia Lynn</span>
                </div>
            </div><!-- /.row -->

            <div class="row text-center bg-color-secondary padding-vert10">
                <div class="col-xs-12 template-legal">
                    <span>IMAGE OF SHEILA HEADBOARD</span>&nbsp<span>Credits: Chrissi Shields and MASH Studio</span>
                </div>
            </div><!-- /.row -->

            <div class="row text-center bg-color-secondary padding-vert10">
                <div class="col-xs-12 template-legal">
                    <span>IMAGE OF LIAM SOFA</span>&nbsp<span>Credits: Homepolish and Tessa Neustadt</span>
                </div>
            </div><!-- /.row -->

        </footer>
    </div><!-- /.container .footer-mobile -->

    <!-- This is the main large footer container that is hidden on smaller viewports -->
    <div class="footer-large">

        <!-- This container spans the full width for the gray background and top border -->
        <div class="container-wrapper footer-large-row1">
            <footer>
                <div class="row">
                    <!-- This container is the centered and is the main container for the footer content -->
                    <div class="container">
                        <!-- This row contains the footer links, houzz badges, and newsletter sign up form -->
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="footer-links-heading">CUSTOMER SERVICE</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 footer-links-cs">
                                        <ul>
                                            <li><a href="/help_answer.asp?ID=9">FAQs</a></li>
                                            <li><a href="/Articles.asp?ID=283">Free Shipping</a></li>
                                        </ul>
                                        <ul>
                                            <li><a href="/Articles.asp?ID=279">Swatch Request</a></li>
                                            <li><a href="/Articles.asp?ID=284">Product Care</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="footer-links-heading">MY CHIC NEST</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 footer-links-mychicnest">
                                        <ul>
                                            <li><a href="/aboutus.asp">About Us</a></li>
                                            <li><a href="/Articles.asp?ID=262">Press</a></li>
                                            <li><span class="footer-links-subheading">CONTACT US</span></li>
                                            <li><a href="mailto:anna@mychicnest.com?subject=Contact Us">customerservice@mychicnest.com</a></li>
                                            <li><a href="mailto:corporate@mychicnest.com">corporate@mychicnest.com</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-5 footer-links-houzz">
                                        <a href="http://www.houzz.com/pro/mychicnest/my-chic-nest" target="_blank"><img src="/v/vspfiles/templates/mcn-rwd-2016/images/template/social/houzz-badge-2013.png" alt="Best of Houzz 2013" /></a>
                                        <a href="http://www.houzz.com/pro/mychicnest/my-chic-nest" target="_blank"><img src="/v/vspfiles/templates/mcn-rwd-2016/images/template/social/houzz-badge-2014.png" alt="Best of Houzz 2014" /></a><br />
                                        <a href="http://www.houzz.com/pro/mychicnest/my-chic-nest" target="_blank"><img src="/v/vspfiles/templates/mcn-rwd-2016/images/template/social/houzz-badge-2016.png" alt="Best of Houzz 2016" /></a>
                                        <a href="http://www.houzz.com/pro/mychicnest/my-chic-nest" target="_blank"><img src="/v/vspfiles/templates/mcn-rwd-2016/images/template/social/houzz-1k-saves.png" alt="Houzz 1 Thousand Saves" /></a>
                                    </div>


                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="row newsletter-signup-container">
                                    <div class="col-xs-12">
                                        <div class="newsletter-signup">
                                            <span class="footer-newsletter-heading">SIGN UP FOR OUR NEWSLETTER</span>
                                            <form name="MailingList" id="mailinglist" method="post" action="/MailingList_subscribe.asp">
                                                <input type="text" name="emailaddress" id="email-input" value="Enter your email address" onFocus="if (this.value=='Enter your email address') this.value='';" onBlur="if (this.value=='') this.value='Enter your email address';" />
                                                <input type="image" src="/v/vspfiles/templates/mcn-rwd-2016/images/template/email-submit.png" name="submit2" id="email-submit" alt="Search"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div><!-- /.row -->
            </footer>
        </div><!-- /.container-wrapper .footer-large-row1 -->

        <!-- Creating a second fluid-container was necessary due to the bottom border that spans the width of the page between the footer rows -->
        <div class="container-wrapper footer-large-row2">
            <div class="row">
                <div class="container footer-legal">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="legal1">&copy; 2015 My Chic Nest LLC. All Rights Reserved. <span class="foot-spacer">|</span> <a href="http://www.mychicnest.com/terms.asp">Terms and Conditions</a> <span class="foot-spacer">|</span> <a href="http://www.mychicnest.com/terms_privacy.asp">Privacy Policy</a></div><!-- end #legal-1 -->
                            <div class="legal2">IMAGE OF AMANDA HEADBOARD Credits: Emily Jackson of The Ivory Lane</div>
                            <div class="legal2">IMAGE OF LIAM SOFA Credits: Homepolish and Tessa Neustadt</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.footer-large -->



    <script src="/v/vspfiles/templates/mcn-rwd-2016/js/jquery-1.11.1.min.js"></script>

    <script type="text/javascript">
        var $jQueryModern = jQuery.noConflict(true);
    </script>

    <script src="/v/vspfiles/templates/mcn-rwd-2016/js/bootstrap.min.js"></script>
    <!--<script src="/v/vspfiles/templates/mcn-rwd-2016/js/push-menu/classie.js"></script>-->

    <script>
        $jQueryModern(document).ready(function(){

            /* FOOTER COLLAPSE */
            $jQueryModern('#footer-collapse').on('shown', function () {
                $jQueryModern(".icon-chevron-down").removeClass("icon-chevron-down").addClass("icon-chevron-up");
            });

            $jQueryModern('#footer-collapse').on('hidden', function () {
                $jQueryModern(".icon-chevron-up").removeClass("icon-chevron-up").addClass("icon-chevron-down");
            });

            /* SEARCH POPOVER */
            $jQueryModern('[data-toggle="popover"]').popover();
            $jQueryModern('body').on('click', function (e) {
                $jQueryModern('[data-toggle="popover"]').each(function () {
                    if (!$jQueryModern(this).is(e.target) && $jQueryModern(this).has(e.target).length === 0 && $jQueryModern('.popover').has(e.target).length === 0) {
                        $jQueryModern(this).popover('hide');
                    }
                });
            });
        });

    </script>


    <script src="/v/vspfiles/templates/mcn-rwd-2016/js/main.js"></script>

    <!--Commented out code below to test functionality of merged templates without it -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="/js/bootstrap.min.js"></script>-->





<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

<script type="text/javascript">
	if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
		jQuery(document).ready(function() {
			jQuery('a').each(AddCartLink)
		});
	}
</script>

</body>
</html>