@charset "UTF-8";
/* CSS Document */

*{margin:0;padding:0}

body:before {/*Opera Fix*/
content:""; height:100%; float:left; width:0; margin-bottom:0;/*header height*/}
html,body{height:100%; width:100%;}

#container{width: 268px; height:148px; position:absolute; top:50%; left:50%; margin-top:-74px; margin-left:-134px;}