#display_menu_1 { /* Styles the font styles and height for the height for the main navigation box */
	height: 40px;
	font-family:'Nunito', sans-serif;
	font-size: 18px;
	line-height: 40px;
	width: 979px;
	margin: 0 auto;
}

td.nav,
a.nav,
td.nav_hover,
a.nav_hover { /* Styles the links on the main navigation */
	margin: 0 55px;
	height: 39px;
	line-height: 39px;
	color: #000000;
    text-transform: uppercase;
}

.nav_hover { background-color: #dddddd; } /* This is separated from the attributes above because it needs to be selected only when hovered */

td.subnav,
a.subnav,
td.subnav_hover,
a.subnav_hover { /* Styles the links on the sub navigation */
    margin: 0 25px;
    font-size: 16px;
    text-transform: none;
}

.subnav_hover { background-color: #dddddd; } /* Sets styles for sub level menu */

.mmenucontainer { background-color: #ffffff; }

.subnav { background-color: #eeeeee; } /* Styles subnav menu items */

.nav_selected { background-color: #ffffff; } /* Styles the selected top level menu and sub menu when the top level is rolled over */

.subnav_selected { background-color: #eeeeee; } /* Styles the sub menu only when the top menu is selected */


/* IMPORTANT ELEMENTS AND CLASSES

.milonictable {} Styles all navigation links including those in the top and sub levels
.mmenucontainer {} Styles the container of the top level navigation

#menu0 {} Selects the top level category/navigation, but may just select the first in the list.
#menu1, #menu2, #menu3 {} These select the sub level category/navigation items. #menu1 appears to select the category with the lowest CategoryID and it isn't related to the order of the submenu in relation to its siblings. Because of this, it is unclear if #menu0 always selects the top/main nav or the category with the lowest category ID that is displayed.

#el0, #el1, #el2, cont. {} These appear to select each category in the top level menu individually. They are related to the order of the category in relation to its siblings under the top nav (e.g. el0 selects the first category on to top if vertical nav, or first category on the top if horizontal nav.

#mmlink2 {} This also formats the selected sub menu items. Not sure how it differs from .subnav_selected

.nav {} Styles top/main menu items
.subnav {} Styles subnav menu items

.nav_hover {} Styles top/main menu items when hovered
.subnav_hover {} Styles sub menu items when hovered

.nav_selected {} Styles top/main menu items when selected
.subnav_selected {} Styles sub menu items when selected

*/