/* Global Classes ------------------------------------------------ */

.bold { font-weight: bold !important; }
.strong { font-weight: bold !important; }
.italic, .italics { font-style: italic !important; }
.underline { text-decoration: underline !important; }
.align_left {text-align: left;}
.align_center, .center_text { text-align: center !important; }
.justified { text-align: justify !important; }
.decoration_none { text-decoration: none !important; }
.no_bullets { list-style-type: none !important; }
.black { color: #000000 !important; }
.white { color: #ffffff !important; }
.red { color: #ff0000 !important; }
.hidden { visibility: hidden !important; }
.no_display, .none { display: none !important; }
.block { display: block !important; }
.inline { display: inline !important; }
.float_left { float: left !important; }
.float_right { float: right !important; }
.clear_float, .clear_both { clear: both !important; }

.begin { border: none !important; }
.end { border: none !important; }


.margin0 { margin: 0; }

.margin_top0 { margin-top: 0; }
.margin_top5 { margin-top: 5px; }
.margin_top10 { margin-top: 10px; }
.margin_top15 { margin-top: 15px; }

.margin_right0 { margin-right: 0; }
.margin_right5 { margin-right: 5px; }
.margin_right10 { margin-right: 10px; }
.margin_right15 { margin-right: 15px; }

.margin_bottom0 { margin-bottom: 0; }
.margin_bottom5 { margin-bottom: 5px; }
.margin_bottom10 { margin-bottom: 10px; }
.margin_bottom15 { margin-bottom: 15px; }

.margin_left0 { margin-left: 0; }
.margin_left5 { margin-left: 5px; }
.margin_left10 { margin-left: 10px; }
.margin_left15 { margin-left: 15px; }

.padding0 { padding: 0; }

.padding_top0 { padding-top: 0; }
.padding_top5 { padding-top: 5px; }
.padding_top10 { padding-top: 10px; }
.padding_top15 { padding-top: 15px; }

.padding_right0 { padding-right: 0; }
.padding_right5 { padding-right: 5px; }
.padding_right10 { padding-right: 10px; }
.padding_right15 { padding-right: 15px; }

.padding_bottom0 { padding-bottom: 0; }
.padding_bottom5 { padding-bottom: 5px; }
.padding_bottom10 { padding-bottom: 10px; }
.padding_bottom15 { padding-bottom: 15px; }

.padding_left0 { padding-left: 0; }
.padding_left5 { padding-left: 5px; }
.padding_left10 { padding-left: 10px; }
.padding_left15 { padding-left: 15px; }


/* Global Styles ------------------------------------------------- */

/* reset html elements */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Nunito', sans-serif;
	color: #858585;
}
a {text-decoration: none; }
a:hover {text-decoration: none; }
a:active, a:focus {color: #858585; }

html {}

body {
	font-size: 12px;
    position: relative;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    background-color: #f2f2f2;
}

p {
	margin: 10px 0;
	padding: 0;
	border: 0;
	font-family: 'Nunito', sans-serif;
	color: #858585;
}

img { border: none !important; }

h1 {
  padding: 5px 0px;
  margin: 0px;
  display: block;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 14px;
  height: inherit;
  line-height: 18px;
  color: #858585;
  text-transform: uppercase !important;
}

h2 { font-weight: 400; }

h3 {
	font-style: normal !important;
	font-weight:  400;
	font-size: 12px;
	height: inherit;
	/*line-height: 16px;*/
	color: #858585;
}

/*SUB-TITLES SM BOLD*/
h4 {
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	height: inherit;
	color: #858585;
	display: block;
	z-index: 2;
	padding-top: 15px;
}


/* Browser Hacks ------------------------------------------------- */

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.clear:before,
.clear:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear:after {
    clear: both;
}


/* Social Sidebar ------------------------------------------------ */

#social-sidebar {
	width: 35px;
	height: 255px;
	background-color: #ffffff;
	position: fixed;
	top: 220px;
	right: 0px;
}

#social-sidebar img {
	width: 35px;
	height: 35px;
	padding-bottom: 8px;
}


/* Header -------------------------------------------------------- */

#header {
	width: 100%;
	height: 135px;
	background-color: #f2f2f2;
}

#header-content {
	width: 979px;
	height: 135px;
	margin: 0 auto;
	position: relative; /* for absolute positioned children */
}

#search {
	width: 198px;
	height: 32px;
	position: absolute;
	top: 21px;
	left: 0px;
}

#search-button {
	width: 27px;
	height: 32px;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 101;
}

#search-box {
	width: 198px;
	height: 32px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #ffffff;
	border: 1px #111111 solid;
	padding: 0 0 0 30px;
	color: #858585;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
}

img#logo {
	display: block;
	width: 359px;
	height: 83px;
	position: relative;
	top: 21px;
	left: 50%;
	margin-left: -180px; /* half the width of the image to center */
}

div#top-links {
	height: 21px;
	float: right;
	position: absolute;
	top: 21px;
	right: -8px;
	color: #000000;
}

div#top-links a {
	margin: 0 7px;
	line-height: 21px;
	vertical-align: middle;
	color: #000000;
	font-size: 12px;
}

div#top-links img {
	width: 82px;
	height: 21px;
	vertical-align: middle;
	display: inline;
}

img#free-shipping {
	width: 244px;
	height: 56px;
	position: absolute;
	top: 62px;
	right: 0;
}


/* Navigation (also see Navigation.css) ------------------------------ */

#nav {
	height: 40px;
	border: 1px #cccccc solid;
	background-color: #ffffff;
}


/* Content Area -------------------------------------------------- */

#content-container {
	width: 100%;
	background-color: #ffffff;
}

#content_area {
	width: 979px;
	min-height: 350px;
	margin: 0 auto;
	padding: 10px 0;
	background-color: #ffffff;
	overflow-y: auto;
    overflow-x: hidden;
}

#content-container > #content_area p {
	font-size: 13px;
}


/* Footer-links -------------------------------------------------- */

#footer-links {
	width: 100%;
	height: 130px;
	border-top: 1px #cccccc solid;
	background-color: #f2f2f2;
}

#footer-links-content {
	width: 979px;
	margin: 0 auto;
	position: relative;
}

#footer-links-content a { color: #000000; }

#footer-links-content #col-1 {
	height: 75px;
	width: 275px;
	position: absolute;
	top: 11px;
	left: 5px;
}

#footer-links-content div.subcol div { margin-bottom: 3px; }

#footer-links-content #col-1 #subcol-a1 {
	width: 90px;
	position: absolute;
	top: 20px;
	left: 0;
}

#footer-links-content #col-1 #subcol-a2 {
	width: 150px;
	position: absolute;
	top: 20px;
	left: 105px;
}

#footer-links-content #col-2 {
	height: 75px;
	width: 110px;
	position: absolute;
	top: 11px;
	left: 265px;
}

#footer-links-content #col-2 #subcol-b1 {
	width: 100px;
	position: absolute;
	top: 20px;
	left: 0;
}

#footer-links-content #col-2 #subcol-b1 ul {}

#footer-links-content #col-2 #subcol-b1 ul li {
	list-style: none;
	margin: 3px 0;
}


#footer-links-content #col-3 {
	height: 75px;
	width: 120px;
	position: absolute;
	top: 12px;
	left: 505px;
}

#footer-links-content #col-3 img { margin-right: 7px; }

#footer-links-content #col-4 {
	border-left: 1px #cccccc solid;
	height: 130px;
	width: 500px;
	position: absolute;
	top: 0;
	left: 635px;
}

#footer-links-content #col-4 #subcol-c1 {
	position: absolute;
	width: 300px;
	top: 11px;
	left: 20px;
}

#footer-links-content #col-4 #subcol-c1 input#email-input {
	width: 252px;
	height: 32px;
	border: 1px #111111 solid;
	background-image: url(../images/template/email-letter.png);
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center left;
	padding: 0 0 0 38px;
	color: #111111;
	font-family: 'Nunito', sans-serif;
	font-size: 13px;
	position: absolute;
	top: 20px;
	left: 0px;
}

#footer-links-content #col-4 #subcol-c1 input#email-submit {
	width: 27px;
	height: 34px;
	position: absolute;
	top: 20px;
	left: 280px;
	z-index: 102;
}

/* Footer-legal -------------------------------------------------- */


#footer-legal {
	width: 100%;
	border-top: 1px #cccccc solid;
	background-color: #f2f2f2;
}

#footer-legal-content {
	width: 979px;
	margin: 10px auto 10px auto;
	text-align: center;
}

#footer-legal-content .legal-1 { margin-bottom: 8px; }

#footer-legal-content span.footer-spacer { margin: 0 10px; }

#footer-legal-content a { color: #000000; }

#footer-legal-content .legal-2 {
    font-size: 10px;
    margin-bottom: 2px;
}

/* Homepage Content ---------------------------------------------- */


#homepage-content {
	width:1278px;
	margin:0 auto;
}

#homepage-content #slider { }

#homepage-content #homepage-categories {
	margin: 14px auto 6px auto;
	width: 979px;
}

#homepage-content #homepage-categories img { border: 1px #cccccc solid; }

#homepage-content #homepage-categories img.middle-3up { margin: 0 5px; }

/* Category Pages ------------------------------------------------ */



/* Product Pages ------------------------------------------------- */

div#product-description { margin: 15px 0; }

div#product-description h3 {
	display: block;
	margin: 15px 0 10px 0;
	font-weight: bold;
}

div#product-description ul { margin: 10px 0 10px 15px; }

div#lead-time { margin-bottom: 10px; }

div#product-dimensions { margin-bottom: 10px; }

div#product-dimensions li { list-style-type: none; }


div#product-fabric-options h2 {
	display: inline;
    font-size: 12px;
    font-weight: bold;
}

div#product-fabric-options img { float: right; }


input.vCSS_input_addtocart { margin-left: 5px; } /* delete when ready to move to final position */


.productnamecolorLARGE,
.productnamecolorLARGE span,
a.productnamecolorLARGE,
a.productnamecolorLARGE span {
	font-size: 20px !important;
	text-transform: uppercase !important;
	line-height: 24px !important;
	font-style: normal !important;
	font-weight: normal !important;
	color: #000000 !important;
}




/* Changes the heading in the related products section */
h3.may-also-like {
    display: block;
    font-size: 14px;
    font-style: normal !important;
    font-weight: 300 !important;
    height: inherit;
    line-height: 18px;
    padding: 5px 0;
    text-transform: uppercase !important;
}







/* Article Pages  ------------------------------------------------ */


/* MCN-Article ------------ */

/* Going forward this will provide the default styles for all articles. If additional properties need to be created or if the default style needs to be changed, create a new div as a child of .mcn-article and place all content inside of it. This will allow for the default styles to remain and additional changes to applied to the new child div and its children. */

#content-container #content_area div.mcn-article {
    color: #333333;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

#content-container #content_area div.mcn-article h1 {
    margin: 10px 0 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}


#content-container #content_area div.mcn-article h2 {
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}


#content-container #content_area div.mcn-article h3 {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

#content-container #content_area div.mcn-article p {
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

#content-container #content_area div.mcn-article img {
    margin: 15px;
    border: none;
}

#content-container #content_area div.mcn-article a {
    color: #000000 !important;
    text-decoration: none;
}


#content-container #content_area div.mcn-article a:hover {
    text-decoration: none;
}

#content-container #content_area div.mcn-article hr {
    width: 100%;
    color: #cccccc;
    margin: 15px 0;
}

#content-container #content_area div.mcn-article ul {
    list-style-type: disc;
    padding: 0 0 0 25px;
}




/* CUSTOMERS OWN MATERIAL -- */

#content-container #content_area #customers-own-material { margin-bottom: 50px; }

#content-container #content_area #customers-own-material h1 { margin-bottom: 10px; }

#content-container #content_area #customers-own-material h2 { margin-top: 40px; }

#content-container #content_area #customers-own-material p.download-pdf { margin: 15px 0 25px 0; }

#content-container #content_area #customers-own-material p.download-pdf span { font-size: 13px; }

#content-container #content_area #customers-own-material p.lead-content {
    font-size: 18px !important;
    font-weight: 600;
    margin: 40px 0 !important;
    line-height: 26px;
}

#content-container #content_area #customers-own-material table,
#content-container #content_area #customers-own-material table td,
#content-container #content_area #customers-own-material table th { border: 1px #cccccc solid; padding: 0 5px; }

#content-container #content_area #customers-own-material table h3 { margin: 10px 0 0 0; }

#content-container #content_area #customers-own-material table.order-form p { text-align: center; }

#content-container #content_area #customers-own-material h2.main-heading {
    margin: 100px 0 0 0;
    text-align: center;
    text-decoration: underline;
}

#content-container #content_area #customers-own-material ul.no_bullets {
    padding: 0;
    line-height: 24px;
    margin: 20px 0;
}

#content-container #content_area #customers-own-material p.signature { margin: 40px 0; }

#content-container #content_area #customers-own-material p.signature span {
    display: block;
    width: 350px;
    float: left;
}

#content-container #content_area #customers-own-material h2.attach-swatch {
    text-align: center;
    margin: 80px 0;
}

/* SHOP --------------------- */

#shop-page h1 {
	color: #111111;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	margin: 15px 0;
	padding: 0;
}


#shop-page img {
	width: 320px;
	height: 216px;
	float: left;
}

#shop-page #shop-row1 { 
	height: 216px;
	margin-bottom: 3px;
}



/* MADE IN AMERICA ------------ */


div#made-in-america h1 {
	margin: 10px 0 20px 0 !important;
	font-size: 24px !important;
	color: #333333 !important;
}

div#made-in-america p {
	margin: 20px 0 !important;
	font-size: 16px !important;
	text-align: justify;
	line-height: 22px;
}

div#made-in-america img {
	margin: 20px auto;
	width: 950px;
}



/* PRESS -------------------- */




/* ABOUT US ----------------- */

#about-us{
	width:912px;
    height: 650px;
	padding-top: 10px;
    padding-left: 25px;
	padding-right: 25px;
}

#about-us .left{
	min-height:456px;
	padding-left:0px;
	margin-left:0px;
	float:left;
}

#about-us .right{
	width:228px;
	padding:0 0 6px 0px;
	float:right;
}

#about-us .right h2{
	font-size:15px;
	color:#ffffff;
	font-style: italic;
}

#about-us .right a.rw h2{
	font-size:15px;
	color:#6D7071;
	font-style: italic;
}

#about-us .right p{
	font-weight:400 !important;
	font-size:12px !important;
	line-height:17px;
	color:#231F20;
	padding-left:15px;
	padding-top:0px !important;
}
#about-us .right a.rw p{
	font-weight:400 !important;
	font-size:12px !important;
	line-height:17px;
	color:#6D7071;
	padding-left:15px;
	padding-top:0px !important;
}

#about-us .right a.r1, #about-us .right a.r2, #about-us .right a.r3, #about-us .right a.rw{width:213px; padding:20px 15px 21px 0; display:block; position: relative;}
#about-us .right a.r1{background-color: #B08455; z-index:3; min-height:101px; }

#about-us .right a.r2{z-index:2; min-height:101px; background:url(../img/productHome/bg_rightcol_top.png) top left repeat-x #B6C8CB;}
#about-us .right a.r3{z-index:1; min-height:100px; background:url(../img/productHome/bg_rightcol_top.png) top left repeat-x #4A8091; }

#about-us .right a.rw{background-color: #ffffff; z-index:3; min-height:101px; }

#about-us .right a.r1:link, #about-us .right a.r1:visited{text-decoration:none; background-color: #B08455;}
#about-us .right a.r1:hover, #about-us .right a.r1:active{text-decoration:none; background-color: #8c693f;}

#about-us .right a.r2:link, #about-us .right a.r2:visited{text-decoration:none; background-color: #B6C8CB;}
#about-us .right a.r2:hover, #about-us .right a.r2:active{text-decoration:none; background-color: #97a7aa;}

#about-us .right a.r3:link, #about-us .right a.r3:visited{text-decoration:none; background-color:#4A8091;}
#about-us .right a.r3:hover, #about-us .right a.r3:active{text-decoration:none; background-color:#4e6877;}

#about-us .right a.rw:link, #about-us .right a.rw:visited, #about-us .right a.rw:link h2, #about-us .right a.rw:visited h2, #about-us .right a.rw:link p, #about-us .right a.rw:visited p{text-decoration:none; color:#6D7071; !important;}
#about-us .right a.rw:hover, #about-us .right a.rw:active, #about-us .right a.rw:hover h2, #about-us .right a.rw:active h2, #about-us .right a.rw:hover p, #about-us .right a.rw:active p{text-decoration:none; color:#000000; !important;}


.shadow_btm{ background:url(../img/productHome/bg_rightcol_top.png) top left repeat-x; height:10px; display:block;}
img.arrow{padding:0 8px 2px 0; border:0;}

#a_infoArea {
	width: 673px;
	color: #858585;
	text-decoration: none;
	position: relative;
	padding-top: 8px;
}

.a_about {
	height: 417px;
	display: block;
}



/* OUR PROCESS ------------ */


div#our-process h1 {
    margin: 10px 0 15px 0 !important;
    font-size: 24px !important;
    color: #333333 !important;
}

div#our-process p {
    margin: 15px 0 !important;
    font-size: 16px !important;
    text-align: justify;
    line-height: 22px;
}

div#our-process img {
    margin: 10px 15px 10px 0;
    max-width: 440px;
    float: left;
}




/* SWATCH REQUEST ----------- */

.sr-text { /* Default paragraph formatting for the page */
	font-size: 18px !important;
	font-weight: normal;
	font-family: 'Nunito', sans-serif;
	color: #525252;
	margin: 15px 10px;
}

.sr-text a {
	color: #000000;
	text-decoration: underline;
}

.sr-required {
	font-size: 12px !important;
	font-weight: normal;
	font-family: 'Nunito', sans-serif;
	color: #000000;
	margin: 15px 0 15px 40px;
}

p.sr-text img:first-of-type { /* Formats CAPTCHA image */
	min-width: 170px;
}

.sr-text input { /* Formats field for CAPTCHA input */
	width: 168px;
	margin-bottom: 25px;
}

.sr-text input[type=submit] { /* Formats field for CAPTCHA input */
	width: 125px;
	height: 30px;
	margin-bottom: 15px;
	font-size: 18px !important;
	color: #000000;
	margin-bottom: 15px ;
}


h2.sr-step { /* Formats headings containing Setps 1-3 of */
	font-size: 24px;
	font-weight: normal;
	font-family: 'Nunito', sans-serif;
	color: #333333;
	margin: 30px 10px 20px 10px;
}

form#sr-form {
	margin: 5px 0 20px 10px;
}

ul.sr-form-mailing {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.sr-form-mailing li {
	margin: 10px 0;;
	padding: 0;
}


ul.sr-form-mailing label {
	width: 120px;
	text-align: right;
	margin-right: 15px;
	display: inline-block;
}


ul.sr-form-mailing input {
	width: 200px;
	display: inline-block;
}


div#sr-swatches {
	width: 900px; /* This should probably be set as a percentage and also add a min-width */
	font-size: 13px;
}

div#sr-swatches .sr-group { /* Container for each swatch type */
	margin: 15px 0;
	
}

#sr-swatches .sr-group h3.sr-group-title {
	font-size: 16px;
	font-weight: normal;
	font-family: 'Nunito', sans-serif;
	color: #555555;
	margin: 0 0 5px 10px;
	display: block;
}

#sr-swatches .sr-group p.sr-note {margin: 5px 0 10px 10px;}

#sr-swatches .sr-panel { /* Container for each swatch image , checkbox and label */
	width: 150px;
	margin: 10px 5px;
	float: left;
	outline: 1px #999999 solid;
}


#sr-swatches .sr-panel img { /* swatch image */
    width: 150px;
}


#sr-swatches .sr-panel .sr-description { /*container for checkbox and label in step 2 */
    color: #666666;
	display: block;
	height: 40px;
	padding-top: 5px;
}

#sr-swatches .sr-panel .sr-description input {
	display: block;
	float: left;
}


#sr-swatches .sr-panel .sr-description label {
	display: block;
	float: left;
	padding-left: 3px;
	width: 80%;
}





/* Hellobar ------------------------------------------------------ */

.hellobar-cta-link { display: none !important; }

#hellobar-logo { display: none !important; }


/*
td {  }
.colors_background_main {  }
.colors_background1 {  }
.colors_background1_text {  }
.colors_background1_text:hover {  }
.colors_background2 {  }
a.colors_background2_text:hover { color: #000000; }
.colors_background2_text { color: #666666; }
.colors_background3 { background-color: #ffffff; }
a.colors_background3_text:hover { color: #000000; }
.colors_background3_text {
	font-style: normal !important;
	font-weight: 700 !important;
	color: #858585;
	font-size: 12px;
	line-height: 16px;
	padding: 6px 0px;
	border-top: 1px dotted #afafaf;
	border-bottom: 1px dotted #afafaf;
	margin-top: 20px;
}

.colors_backgroundlight {
	border-top: 1px dotted #afafaf;
	border-bottom: 1px dotted #afafaf;
	padding-bottom: 6px;
	padding-top: 6px;
}

.colors_backgroundlight_dark { background-color: #ffffff; }
.colors_backgroundneutral { background-color: #ffffff; }
.colors_backgroundneutral_dark { background-color: #ffffff; }
.colors_descriptionbox { background-color: #ffffff; }
.colors_highlight { background-color: #ffffff; }
.colors_lines { background-color: #FFFFFF; }
.colors_lines_light { background-color: #ffffff; }
.colors_links { color: #666666; }
a.colors_links:hover { color: #000000; }
.colors_menutitle { background-color: #ffffff; }
.colors_menutitletext { color: #ffffff; }
.colors_pricebox { background-color: #ffffff; }


.colors_productname,
#i_options td {
	font-style: normal !important;
	font-weight: 400 !important;
	color: #858585;
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
}

#i_options br { display: none; }

a.colors_productname {
	font-size: 11px;
	font-weight: 700 !important;
}

.colors_productname i { font-style: normal !important; }
.colors_productname i b { font-weight: 400 !important; }
.colors_productname br { display: none; }
a.colors_productname:hover { color: #231F20; }
.colors_productprice { color: #858585; }
a.colors_text:hover { color: #7c7c7c; }
.colors_text { color: #7c7c7c; }
a.colors_homepage_title { color: #007DE9; }

#please_wait_div,
#please_wait_div table,
#please_wait_div td { background-color: #ffffff !important; }

*/


/* --------------------------------------------------------------- */
/*                       Content_Area.css                          */
/* --------------------------------------------------------------- */


/* ############################### SWATCHES ###############################*/


#swatch {
	padding-bottom: 12px;
	position: relative;
}

#swatch #thumbs {
	overflow: hidden;
	font-size: 12px;
	color: #63665F;
	font-weight: 400;
}

#swatch #largeImage {
	width: 200px;
	border-bottom: 1px solid #dadadb;
}

#swatch #thumbs img,
#swatch #largeImage { cursor: pointer; }

#swatch #thumbs img {
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	width: 59px;
}


#swatch #description {
	color: #666;
	position: relative;
	bottom: 0px;
	padding: 5px;
	margin: 0px;
	display: inline-block;
}

#swatch #panel {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	border: 1px solid #dadadb;
	width: 200px;
	background: #fff;
}

p.swatchTitle {
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 12px !important;
	height: inherit;
	line-height: 16px !important;
	color: #858585 !important;
	display: block !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	text-transform: uppercase;
}

#vZoomTransparentOverlay { background-color: #fff !important; }

#swatch #thumbs p.desc { padding: 0px !important; }

/* ############################### SHOPPING CART UPDATE ###############################*/

.newCartText,
font.newCartText {
	font-size: 12px;
	font-weight: 300 !important;
	color: #231F20;
}

.newCartText a {
	font-weight: 400 !important;
	font-size: 12px;
}

a.newCartText {
	font-weight: 700 !important;
	font-size: 12px;
}

.newCartText a:link,
.newCartText a:visited,
a.newCartText:link,
a.newCartText:visited { color: #231F20; }

.newCartText a:hover,
.newCartText a:active,
a.newCartText:hover,
a.newCartText:active { color: #000000; }

#v65-cart-update-total-cell { padding: 15px 0px; }

/*
a.otherlinks{font-size:12px; 
	padding:2px 5px 0; 
	font-family: 'IM Fell English', Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-weight: 400;
        text-transform:none;}
a.otherlinks:link, a.otherlinks:visited{color: #231F20; }
a.otherlinks:hover, a.otherlinks:active{color:#000000;}*/

a.wishclear {
	padding-right: 20px;
	line-height: 16px;
	background: url(../images/buttons/btn_addtowishlist_clear.gif) right center no-repeat;
}

/* ############################### PRESS & RESOURCES ###############################*/

.infoA-head {
	padding-left: 235px;
	padding-right: 25px;
}

.noleft { padding-left: 0px !important; }

.infoA-row { padding: 10px 25px 15px; }

.infoA-1 {
	padding: 15px 25px 0px 80px;
	width: 105px;
	float: left;
}

.infoA-2 {
	padding-right: 0px;
	width: 385px;
	float: left;
}

.infoA-2 p { padding: 5px 0 !important; }

a.rm { color: #231F20 !important; }

.dl_resource { display: block; }




/* ############################### FIXES ############################### */

.qe_toolbar_ovr { z-index: 9999 !important; } /*admin box*/

.next_page_img {
	width: auto !important;
	height: auto !important;
	padding-top: 5px;
}

.previous_page_img {
	width: auto !important;
	height: auto !important;
	padding-top: 5px;
}

.soft_add_wrapper {
	z-index: 999;
	color: #63665F;
	font-weight: 400;
}

.soft_add_content_wrapper { background-color: #ffffff !important; }

.soft_add_header {
	background-color: #DADDD4 !important;
	background-image: url(../img_alter/SoftAddtoCart.gif) !important;
	border-bottom: none !important;
}

.soft_add_sub_total { background-color: #ffffff !important; }

.soft_add_content_area { border-bottom: 1px dotted #afafaf !important; }

.soft_add_action_area {
	background-color: #DADDD4 !important;
	border-top: none !important;
}

.soft_add_content_area span,
.cart_table td.description,
.cart_table td.quantity,
.cart_table td.price {
	font-size: 11px;
	color: #63665F !important;
	font-weight: 400 !important;
}

.cart_table td.description a { font-weight: 300; }

.cart_table td.description a:link,
.cart_table td.description a:visited { color: #63665F; }

.cart_table td.description a:hover,
.cart_table td.description a:active { color: #000000; }

.soft_add_span {
	font-weight: 400 !important;
	color: #5B5600;
	font-size: 12px !important;
	font-style: normal;
}

.close_btn,
.close_btn:link,
.close_btn:visited,
.close_btn:focus,
.close_btn:hover,
.close_btn:active { background-image: url(../img_alter/close.gif) !important; }

.aremove { background-image: url(../img_alter/delete.gif) !important; }

.continue_shopping {
	background-image: url(../img_alter/continue_shopping.gif) !important;
	width: 109px !important;
}

.check_out {
	background-image: url(../img_alter/checkout.gif) !important;
	width: 64px !important;
}




/* ----------------------- UNKNOWN EFFECTS  ---------------------- */

.a_t2 {
	font-style: normal !important;
	font-weight: 700;
	font-size: 11px;
	height: inherit;
	color: #858585;
	display: block;
	height: 18px;
	z-index: 2;
}

.a_t2 a { color: #858585 !important; }

.a_t2 a:link,
.a_t2 a:visited,
.a_t2 a:hover,
.a_t2 a:active { color: #858585 !important; }

p.other {
	font-size: 10px !important;
	line-height: 16px;
	color: #858585;
	padding-top: 15px;
	margin: 0px;
	font-style: normal;
	font-weight: 400 !important;
}

form h3 { display: inline; }

.formCont { padding: 15px 0px; }

/*p,
.optform {
	font-size: 12px !important;
	line-height: 18px;
	color: #858585;
	padding: 7px 0px;
	font-style: normal;
	font-weight: 300;
} */

#pci-error-list font {
	font-size: 12px !important;
	line-height: 18px;
	color: #DC5835;
	padding-bottom: 15px;
	font-style: normal;
	font-weight: 300 !important;
}

#pci-errors img { display: none; }

#pci-errors ul#pci-error-list,
table.errorstate {
	padding: 10px 10px 10px 30px;
	background: url(../img/error_alert.gif) 0px 10px no-repeat #ffffff !important;
	min-height: 30px;
	color: #DC5835 !important;
	font-weight: 300 !important;
}

.errorstate li {
	color: #DC5835 !important;
	font-weight: 300 !important;
	margin: 0;
}

#listOfErrorsSpan td,
#listOfErrorsSpan table { background: none; }

#listOfErrorsSpan td img { display: none; }

#listOfErrorsSpan td li {
	padding: 10px 10px 10px 30px;
	background: url(../img/error_alert.gif) 0px 10px no-repeat #ffffff;
	min-height: 30px;
	color: #DC5835 !important;
	font-weight: 300 !important;
}

/* Is this used for anything? */


p.subTitle { padding-top: 5px !important; }

.bgcolor1 { font-size: 12px; }

.bgcolor3 { font-size: 12px; }



/*------ALTERRED */


/*
.productnamecolor,
a.productnamecolor {
	font-style: normal !important;
	font-weight: 700 !important;
	color: #858585;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 14px;
	text-decoration: none;
}

a.productnamecolor:hover { text-decoration: none; }

.productnamecolorSMALL { font-size: 10px; }

a.productnamecolorSMALL {
	font-size: 10px;
	text-decoration: none;
}

a.productnamecolorSMALL:hover { text-decoration: none; }

.pricecolor {
	font-size: 10px;
	text-transform: uppercase;
	line-height: 14px;
	font-style: normal !important;
	font-weight: bold !important;
	text-decoration: none;
}

.product_saleprice {
	color: red !important;
	font-size: inherit !important;
	text-transform: uppercase;
	line-height: 14px;
	font-style: normal !important;
	font-weight: bold;
	text-decoration: none;
}

.product_productprice {
	text-transform: uppercase;
	font-size: inherit !important;
	line-height: 14px;
	font-style: normal !important;
	font-weight: bold;
	text-decoration: none;
}

a.pricecolor,
a.pricecolor:hover {
	font-size: 10px;
	text-decoration: none;
}

.pricecolorSMALL,
.pricecolorsmall {
	font-size: 10px;
	text-transform: uppercase;
	line-height: 14px;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 10px;
}

a.pricecolorSMALL,
a.pricecolorSMALL:hover {
	font-size: 10px;
	text-decoration: none;
}

a.RegularLink {
	font-size: 11px;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
}

a.RegularLink:link,
a.RegularLink:visited {
	text-decoration: none;
	color: #858585;
}

a.RegularLink:hover,
a.RegularLink:active {
	color: #000000;
	text-decoration: none;
}

.smalltext { font-size: 10px; }

a.smalltext,
a.smalltext:hover {
	font-size: 10px;
	text-decoration: none;
}

.nav1,
a.nav1 {
	font-size: 12px;
	text-decoration: none;
}

a.nav1:hover { text-decoration: none; }

.nav1_selected,
a.nav1_selected {
	font-size: 12px;
	text-decoration: none;
}

a.nav1_selected:hover { text-decoration: none; }

.nav2,
a.nav2 {
	font-size: 12px;
	text-decoration: none;
}

a.nav2:hover { text-decoration: none; }

.nav2_selected,
a.nav2_selected {
	font-size: 12px;
	text-decoration: none;
}

a.nav2_selected:hover { text-decoration: none; }

.nav3,
a.nav3 {
	font-size: 12px;
	text-decoration: none;
}

a.nav3:hover { text-decoration: none; }

.nav3_selected,
a.nav3_selected {
	font-size: 12px;
	text-decoration: none;
}

a.nav3_selected:hover { text-decoration: none; }

.carttext {
	font-size: 10px;
	text-decoration: none;
}

a.carttext {
	font-size: 10px;
	text-decoration: none;
}

a.carttext:hover {
	font-size: 10px;
	text-decoration: underline;
}

.bgcolor2 { font-size: 12px; }

.navtitle,
a.navtitle,
a.navtitle:hover {
	font-size: 12px;
	letter-spacing: 3px;
}

.navTOP,
a.navTOP {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}

a.navTOP:hover {
	color: #000000;
	text-decoration: underline;
}

.navBOTTOM,
a.navBOTTOM {
	font-size: 12px;
	text-decoration: none;
}

a.navBOTTOM:hover { text-decoration: underline; }

.NavSpecials,
a.NavSpecials {
	font-size: 12px;
	text-decoration: none;
}

a.NavSpecials:hover { text-decoration: none; }




a span.formQ {
	font-size: 11px;
	font-style: normal;
	font-weight: 300;
	padding-left: 10px;
}

a:link span.formQ,
a:visited span.formQ { color: #858585; }

a:hover span.formQ,
a:active span.formQ { color: #000000; }

.error {
	font-style: normal !important;
	font-weight: 700;
	font-size: 12px;
	height: inherit;
	line-height: 16px;
	color: #F00;
}


.crumbs { padding-left: 15px; }

.crumbs input[type=text] {
	width: 25px;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
}

td.vCSS_breadcrumb_td b {
	font-size: 10px;
	font-style: normal !important;
	font-weight: 400 !important;
	color: #858585;
}

.crumbs,
td.vCSS_breadcrumb_td b a,
.crumbs a {
	font-size: 10px;
	font-style: normal !important;
	font-weight: 400 !important;
	color: #858585;
	text-transform: uppercase;
	padding-right: 5px;
}

td.vCSS_breadcrumb_td b a:hover,
.crumbs a:hover {
	text-decoration: none;
	color: #000000;
}

#SortBy,
select.results_per_page_select { text-transform: none !important; }


a.btn,
a .btn {
	font-size: 11px;
	color: #ffffff;
	padding: 5px 8px 3px;
	background: #dc5735;
	height: auto;
	border: none;
	outline: none;
	cursor: pointer;
	font-style: italic;
	font-weight: 400;
}

a.btn:visited,
a .btn:visited { background: #dc5735; }

a.btn:hover,
a .btn:hover { background: #873d21; }

a.redlink,
a.otherlinks {
	font-style: regular !important;
	font-weight: 400 !important;
	font-size: 12px !important;
	color: #dc5735;
	text-transform: none !important;
}

a.redlink:link,
a.redlink:visited,
a.otherlinks:link,
a.otherlinks:visited {
	color: #dc5735 !important;
	text-decoration: none;
}

a.redlink:hover,
a.redlink:active,
a.otherlinks:hover,
a.otherlinks:active {
	color: #873d21 !important;
	text-decoration: none !important;
}

a.otherlinks { padding-left: 10px; }

a.btn,
a.redlink { display: block; }

.btn {
	display: inline-block;
	padding-right: 5px;
}

#jmenuhide b {
	font-weight: 400 !important;
	padding-right: 5px;
	text-transform: lowercase;
	font-style: normal;
	font-size: 13px;
}

#jmenuhide { padding-right: 5px; }

.tableTitle {
	font-style: normal !important;
	font-weight: 400;
	font-size: 12px;
	height: inherit;
	line-height: 16px;
	color: #231f20;
}

tr.colors_backgroundneutral td {
	font-size: 12px !important;
	line-height: 16px;
	color: #231F20;
	padding: 5px 0px;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
}

table.colors_lines_light {
	padding-bottom: 10px;
	background-color: #ffffff;
}

tr.colors_backgroundneutral td a,
tr.colors_backgroundneutral td a:visited {
	font-size: 12px !important;
	line-height: 16px;
	color: #231F20;
	padding: 5px 0px;
	font-style: normal;
	font-weight: 300;
	text-decoration: none;
}

tr.colors_backgroundneutral td a:hover {
	color: #000000;
	text-decoration: underline;
}

.vMid {
	font-style: normal !important;
	font-weight: 300 !important;
	color: #DC5835 !important;
	font-size: 12px !important;
}

#v65-productdetail-action-wrapper { text-align: left !important; }

.product_code_title,
.product_code,
.PageText_L494n {
	font-style: normal;
	font-weight: 400;
	color: #858585;
	font-size: 12px;
	line-height: 16px;
	padding-bottom: 8px;
	display: inline-block;
}

#i_buy td {
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.vCSS_input_addtocart { padding-right: 10px; }

.i_hdash {
	width: 100%;
	background: url(../img/template/hline_dash.png) bottom left repeat-x;
	margin-bottom: 8px;
}

#options_table,
#qtybtns,
#i_socialStuff {
	border-bottom: 1px dotted #afafaf;
	width: 100%;
}

#options_table td select { margin-bottom: 10px; }

#qtybtns td { padding: 10px 0px; }

#ProductDetail_ProductDetails_div { padding-top: 10px; }

#ProductDetail_ProductDetails_div p {
	font-size: 12px !important;
	font-style: normal;
	font-weight: 300;
	line-height: 18px;
	color: #231F20;
	padding-top: 0px !important;
	padding-bottom: 15px;
}

#ProductDetail_ProductDetails_div ul,
.v65-productDisplay ul {
	list-style: none;
	margin: 0;
	padding: 2px 0 15px 0;
}

#ProductDetail_ProductDetails_div li,
.v65-productDisplay li {
	margin: 0;
	padding: 0 0 3px 8px;
	font-size: 12px;
	line-height: 16px;
	font-style: normal;
	font-weight: 300;
	color: #231F20;
	background: url(../img/template/bullet-list.png) 0px 6px no-repeat;
}

#v65-share-buttons-cell { padding-top: 10px; }

#altviews br { display: none; }
*/



.a_long {
	background: url(../images/infoGallery/bg_none.jpg) top left repeat-y;
	min-height: 417px;
	height: auto !important;
	height: 417px;
	margin-bottom: 22px;
}

.a_blank {
	background: url(../images/infoGallery/bg_none.jpg) top left no-repeat;
	min-height: 417px;
	height: auto !important;
	height: 417px;
*height:417px;
	display: block;
}

.infoA {
	padding-left: 235px;
	padding-right: 25px;
}

#a_infoArea p {
	padding: 15px 35px 0px 0px;
	line-height: 18px;
	font-style: normal;
	font-weight: 300;
	font-size: 11px !important;
	color: #858585 !important;
	z-index: 2;
}

#a_infoArea .infohere td {
	line-height: 18px;
	font-style: normal;
	font-weight: 300;
	font-size: 11px !important;
	color: #858585 !important;
	z-index: 2;
	padding-left: 235px;
	padding-right: 25px;
}

table.infohere {
	min-height: 417px;
	height: auto !important;
	height: 417px;
}

.aleft {
	float: left;
	width: 205px;
	padding-left: 0;
	position: relative;
	top: 15px;
	left: 0px;
}

.aleft a {
	display: block;
	line-height: 16px;
}

#a_caption {
	color: #858585;
	width: 375px;
	padding-top: 8px;
	padding-left: 10px;
}

#a_caption a,
.aleft a,
a#a_faq {
	font-style: normal;
	font-weight: 300;
	font-size: 11px !important;
}

#a_caption a:link,
#a_caption a:visited,
#a_infoArea a:link,
#a_infoArea a:visited,
a#a_faq:link,
a#a_faq:visited {
	color: #858585;
	text-decoration: none;
}

#a_caption a:hover,
#a_caption a:active,
#a_infoArea a:hover,
#a_infoArea a:active,
a#a_faq:hover,
a#a_faq:active {
	color: #000000;
	text-decoration: none;
}

a.a_aboutlink {
	width: 643px;
	height: 180px;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}

a#a_faq {
	z-index: 1;
	width: 218px;
	padding-top: 50px;
	/*padding-left: 15px;*/
	height: 20px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/infoGallery/faq.jpg) top left no-repeat;
}

.faq_caption {
	padding: 2px 0px !important;
	margin-right: 15px;
	margin-left: 15px;
	border-top: 1px dotted #afafaf;
	border-bottom: 1px dotted #afafaf;
	display: block;
}





/* Temp Styles copied over from RWD Template */

/* ----- HOMEPAGE ----- */

/* SMALL VIEWPORTS & DEFAULT STYLES (MOBILE FIRST) ----- */
.homepage-content .col-xs-12 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.homepage-content .col-xs-12 img {
    width: 100%;
}


/* This makes the homepage content move from being 100% width images to images in a 2 column layout */
@media screen and (min-width: 480px) and (max-width: 599px) {

    .homepage-content .col-xs-12 {
        float: left;
        width: 50%;
    }

}


/* This changes the homepage content from a 2 column layout using floats to a 3 column layout using flexbox */
@media screen and (min-width: 600px) {

    .homepage-content .col-xs-12 img {
        width: auto; /* This removes the 100% width applied previously to allow flexbox to work properly. */
    }

    .homepage-content .row {
        display: flex;
        justify-content: space-around;
    }

}