/*

STYLESHEET STRUCTURE & TABLE OF CONTENTS


LINE 93     1. Helper styles
                a. Testing
                b. Text Modifiers
                c. Text Colors
                d. Background Colors
                e. Display
                f. Floats
                g. Margins
                h. Padding
                i. Block Elements
                j. Cursor
                k. Touch Targets
                l. Larger Fonts
                m. Flexbox Quick Styles
LINE 230    2. Templates Styles
                a. Document Root Adjustments
                b. Header - Nav / Logo / Search
                    i. Small Viewports & Default Styles (Mobile First)
                        1. Hide large viewport header
                        2. Menu
                        3. Logo
                        4. Nav Links
                    ii.	Medium Viewports:  480px – 991px
                        1. Menu
                        2. Logo
                        3. Nav Links
                    iii. Large Viewports: > 992px
                        1. Unhide large viewport header
                        2. Hide large viewport header
                c.  #Content_Area
                    i. Large Viewports: > 992px
                d.	Footer
                    i. Small Viewports & Default Styles (Mobile First)
                    ii. Medium Viewports:  480px – 991px
                    iii. Large Viewports: > 992px
LINE 784    3. Page specific styles
                a. Homepage
                b. Category Page
                c. Product Page
                d. Article Page
LINE 894    4. Testing


*/
/*




FORMATTING GUIDE

All CSS levels/sections should be formatted according to the examples shown below
*/


/* ------------------------------------------------------
    LEVEL 1
------------------------------------------------------ */

/* ----- LEVEL 2 ----- */

/* LEVEL 3 ----- */

/* LEVEL 4 */

/* Comment */




/* SMALL VIEWPORTS & DEFAULT STYLES (MOBILE FIRST) ----- */
/* MEDIUM VIEWPORTS: 480px - 991px ----- */
/* LARGE VIEWPORTS: > 992px ----- */















/*  ------------------------------------------------------
    HELPER STYLES
------------------------------------------------------- */

    /* ----- TEXT MODIFIERS ----- */
    .bold {font-weight: bold;}
    .italic, .italics {font-style: italic;}
    .underline {text-decoration: underline;}
    .justified {text-align: justify;}
    .decoration-none {text-decoration: none;}
    .strong {font-weight: bold;}
    .text-uppercase { text-transform: uppercase; }
    .text-lowercase { text-transform: lowercase; }
    .text-linethrough { text-decoration: line-through; }


    /* ----- TEXT COLORS ----- */
    .text-black { color: #000000; }
    .text-dark-gray { color: #666666; }
    .text-med-gray { color: #999999; }
    .text-light-gray { color: #cccccc; }
    .text-lightest-gray { color: #eeeeee; }
    .text-red { color: #ff0000; }


    /* ----- BACKGROUND COLORS ----- */
    .yellow { background-color: #fefec7; }
    .black { background-color: #000000; }
    .charcoal { background-color: #333333; }
    .dark-gray { background-color: #666666; }
    .med-gray { background-color: #999999; }
    .light-gray { background-color: #cccccc; }
    .lightest-gray { background-color: #eeeeee; }
    .white { background-color: #ffffff; }


    /* ----- DISPLAY ----- */
    .display-block { display: block; }
    .display-inline { display: inline; }
    .no-display { display: none; }
    .hidden { visibility: hidden; }


    /* ----- FLOATS ----- */
    .float-left {float: left;}
    .float-right {float: right;}
    .clear,
    .clear-float,
    .clear-both {clear: both;}


    /* ----- MARGINS ----- */
    .margin0 { margin: 0; }
    .margin5 { margin: 5px; }
    .margin10 { margin: 10px; }
    .margin15 { margin: 15px; }

    .margin-top0 {margin-top: 0;}
    .margin-top5 {margin-top: 5px;}
    .margin-top10 {margin-top: 10px;}
    .margin-top15 {margin-top: 15px;}

    .margin-right0 {margin-right: 0;}
    .margin-right5 {margin-right: 5px;}
    .margin-right10 {margin-right: 10px;}
    .margin-right15 {margin-right: 15px;}

    .margin-bottom0 {margin-bottom: 0;}
    .margin-bottom5 {margin-bottom: 5px;}
    .margin-bottom10 {margin-bottom: 10px;}
    .margin-bottom15 {margin-bottom: 15px;}

    .margin-left0 {margin-left: 0;}
    .margin-left5 {margin-left: 5px;}
    .margin-left10 {margin-left: 10px;}
    .margin-left15 {margin-left: 15px;}


    /* ----- PADDING ----- */
    .padding0 { padding: 0; }
    .padding5 { padding: 5px; }
    .padding10 { padding: 10px; }
    .padding15 { padding: 15px; }

    .padding-top0 {padding-top: 0;}
    .padding-top5 {padding-top: 5px;}
    .padding-top10 {padding-top: 10px;}
    .padding-top15 {padding-top: 15px;}

    .padding-right0 {padding-right: 0;}
    .padding-right5 {padding-right: 5px;}
    .padding-right10 {padding-right: 10px;}
    .padding-right15 {padding-right: 15px;}

    .padding-left0 {padding-left: 0;}
    .padding-left5 {padding-left: 5px;}
    .padding-left10 {padding-left: 10px;}
    .padding-left15 {padding-left: 15px;}

    .padding-bottom0 {padding-bottom: 0;}
    .padding-bottom5 {padding-bottom: 5px;}
    .padding-bottom10 {padding-bottom: 10px;}
    .padding-bottom15 {padding-bottom: 15px;}

    .padding-vert10 { padding-top: 10px; padding-bottom: 10px; }

    .padding-vert15 { padding-top: 15px; padding-bottom: 15px; }

    .padding-vert20 { padding-top: 20px; padding-bottom: 20px; }


    /* ----- BLOCK ELEMENTS ----- */
    .border-radius-none { border-radius: 0; }


    /* ----- CURSOR ----- */
    .cursor-pointer { cursor: pointer; }


    /* ----- TOUCH TARGETS ----- */
    .touch-target {
        min-width: 48px;
        min-height: 48px;
    }


    /* ----- LARGER FONTS ----- */
    .em30 { font-size: 3rem;}
    .em250 { font-size: 2.5rem;}
    .em20 { font-size: 2rem;}
    .em15 { font-size: 1.5rem;}


    /* ----- FLEXBOX QUICK STYLES ----- */
    .flex-center { display: flex; justify-content: center; }

    .flex-space-around { display: flex; justify-content: space-around; }




/*  ------------------------------------------------------
    TEMPLATE STYLES
------------------------------------------------------- */

    /* ----- DOCUMENT ROOT ADJUSTMENTS ----- */

    html {
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
    }

    /* LARGE VIEWPORTS: 992px ----- */
    @media screen and (min-width: 992px) {
        body { background-color: #f2f2f2 }
    }

    h1 { font-size: 2.5em; }
    h2 { font-size: 2em; }
    h3 { font-size: 1.5em; }

    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    a:hover, a:focus {
        color: #000000;
        text-decoration: none;
    }

    /* Used for wrapping .containers in a fluid width container */
    .container-wrapper {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .container-wrapper:before,
    .container-wrapper:after {
        content: " ";
        display: table;
    }

    .container-wrapper:after {
        clear: both;
    }

    /* Hides the social sidebar by default on mobile */
    #social-sidebar { display: none; }


    /* Adds social sidebar to the template when the viewport is > 991px */
    @media screen and (min-width: 992px) {

        #social-sidebar {
            width: 35px;
            height: 255px;
            background-color: #ffffff;
            position: fixed;
            top: 125px;
            right: 0;
            display: block;
            -webkit-box-shadow: -2px 2px 5px 0px rgba(170,170,170,1);
            -moz-box-shadow: -2px 2px 5px 0px rgba(170,170,170,1);
            box-shadow: -2px 2px 5px 0px rgba(170,170,170,1);
            z-index: 1000;
        }

        #social-sidebar img {
            width: 35px;
            height: 35px;
            margin-bottom: 8px;
        }

    }


    .bg-color-secondary { background-color: #f5f5f5; }
    .text-color-secondary { color: #bcbcbc; }



/* Social Sidebar ------------------------------------------------ */



    /* ----- HEADER - NAV / LOGO / SEARCH ----- */


        /* SMALL VIEWPORTS & DEFAULT STYLES (MOBILE FIRST) ----- */

            /* HIDE LARGE VIEWPORT HEADER */
            /*
                These containers are for the large header and thus are hidden by default (mobile first)
                The small mobile header is for viewports < 992px
                The large header is displayed when the viewport is > 991px
            */
                .header-fluid { display: none; }
                .nav-fluid { display: none; }


            /* MENU */
            #mobile-header .mobile-header-icons {
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 51px;
            }

            #mobile-header .mobile-header-icons a {
                height: 100%;
                width: 30px;
            }

            #mobile-header .mobile-header-icons img {
                height: 30px;
                width: 30px;
                vertical-align: top;
            }

            #mobile-menu-icon,
            #mobile-search-icon,
            #mobile-cart-icon,
            #mobile-myaccount-icon,
            #mobile-menu-icon img,
            #mobile-search-icon img,
            #mobile-cart-icon img,
            #mobile-myaccount-icon img {
                margin-top: 2px;
            }


            /* LOGO */

            #mobile-header #mobile-logo img {
                height: 40px;
                width: 145px;
                margin: 0 auto;
            }



            /* NAV LINKS */
            #mobile-nav {
                width: 100%;
                height: auto;
                position: relative;
                display: none;
                margin-bottom: 5px;
                -webkit-transform: translate(0, -200px);
                transform: translate(0, -200px);
                transition: transform 0.3s ease;
            }

            #mobile-nav.open {
                -webkit-transform: translate(0, 0);
                transform: translate(0,0);
                display: block;
            }

            #mobile-nav #mobile-nav-drawer ul {
                padding: 0;
                display: flex;
                flex-wrap: wrap;
            }

            #mobile-nav #mobile-nav-drawer ul li {
                list-style-type: none;
                width: 48%;
                margin: 0 1%;
                border-bottom: 1px solid #dcdede;
                line-height: 1.2rem;
                padding: 5px 0;
            }

            #mobile-nav #mobile-nav-drawer ul li a{
                font-size: .7rem;
            }

            #mobile-search {
                height: 100%;
                position: relative;
                display: none;
                -webkit-transform: translate(0, -200px);
                transform: translate(0, -200px);
                transition: transform 0.3s ease;
            }

            #mobile-search.open {
                -webkit-transform: translate(0, 0);
                transform: translate(0,0);
                display: block;
            }

            #mobile-search form {
                height: 30px;
                margin-bottom: 15px;
            }

            #mobile-search form label {
                display: none;
                letter-spacing: 0.2px;
                font-weight: normal;
                cursor: pointer;
                font-size: 14px;
            }

            #mobile-search form input {
                width: 100%;
                margin: 0;
                padding: 5px;
                box-sizing: border-box;
                height: 30px;
                border: 1px solid #e1e0d9;
                background: #f5f5f5;
                -webkit-appearance: none;
                transition: all 0.5s ease-in-out;
            }

            #mobile-search form button {
                background-color: transparent;
                cursor: pointer;
                top: 1px;
                right: 2px;
                margin: 1px;
                display: inline-block;
                border: 0;
                padding: 0;
                position: absolute;
                opacity: 0.3;
            }



        /* MEDIUM VIEWPORTS: 480px - 991px ----- */
        @media screen and (min-width: 480px) and (max-width: 991px) {

            /* MENU */
            #mobile-header .mobile-header-icons a {
                height: 100%;
                width: 50px;
            }

            #mobile-header .mobile-header-icons img {
                height: 50px;
                width: 50px;
                vertical-align: top;
            }

            #mobile-menu-icon,
            #mobile-search-icon,
            #mobile-cart-icon,
            #mobile-myaccount-icon,
            #mobile-menu-icon img,
            #mobile-search-icon img,
            #mobile-cart-icon img,
            #mobile-myaccount-icon img {
                margin-top: 2px;
            }

            /* LOGO */
            #mobile-logo {
                height: 62px;
                width: 221px;
                margin: 0 auto;
            }

            #mobile-header #mobile-logo img {
                height: 62px;
                width: 221px;
                margin: 0 auto;
            }

            /* NAV LINKS */

             /* Add styles here to make font for nav links slightly bigger */


        } /* end media query */



        /* LARGE VIEWPORTS: > 992px ----- */
        @media screen and (min-width: 992px) {

            /* UNHIDE LARGE VIEWPORT HEADER */
            /* These are unhidden as the large header is for viewports > 991px */
            .header-fluid { display: block; }
            .nav-fluid { display: block; }


            /* HIDE SMALL VIEWPORT HEADER */
            /* These are hidden as the small "mobile" menu is for viewports < 992px */
            #mobile-header { display: none; }
            #mobile-nav { display: none; }
            #mobile-search { display: none; }



            .header-fluid {
                background-color: #f2f2f2;
            }

            .header {
                display: block;
                height: 135px;
                margin-top: 15px;
            }

            .search { }

            .search .form-control-feedback {
                top: 0;
                left: 0;
            }

            .search .form-control {
                padding-left: 25px;
                padding-right: 0;
                border-color: #666666;
                width: 210px;
            }

            .search .form-control:focus {
                border-color: #333333;
                outline: 0;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
            }

            #logo {
                display: block;
            }

            .top-links {
                height: 21px;
                color: #000000;
                width: 244px;
                display: flex;
                justify-content: space-between;
            }

            .top-links a {
                line-height: 21px;
                vertical-align: middle;
                color: #000000;
                font-size: 12px;
            }

            .free-shipping {
                margin-top: 10px;
                width: 244px;
                height: 56px;
            }

            .nav-fluid {
                border-top: 1px #cccccc solid;
                border-bottom: 1px #cccccc solid;
                height: 40px;
            }

            .nav { }

            #display_menu_1 {
                height: 40px;
                font-size: 18px;
                line-height: 40px;
                margin: 0 auto;
            }


            #display_menu_1 .vnav--level1 {
                display: flex;
                justify-content: space-around;
            }

            #display_menu_1 .vnav__item {
                height: 40px;
            }

            #display_menu_1 .vnav__item:hover {
                background-color: #dddddd;
            }



            #display_menu_1 .vnav__item a {
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
            }

            #display_menu_1 ul.vnav--level2 {
                background-color: #eeeeee;
            }

            #display_menu_1 ul.vnav--level2 .vnav__item:hover,
            #display_menu_1 ul.vnav--level2 .vnav__item a:hover {
                color: #000000;
            }

        } /* end media query */





    /* ----- #CONTENT_AREA ----- */

        #content_area {
            background-color: #ffffff;
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 1100px;
            font-family: 'Roboto', sans-serif;
        }





    /* ----- FOOTER ----- */

        /* SMALL VIEWPORTS & DEFAULT STYLES (MOBILE FIRST) ----- */

            /*
                The container .footer-large is for the large footer and thus are hidden by default (mobile first)
                The mobile footer is for viewports < 992px
                The large footer is displayed when the viewport is > 991px
            */
            .footer-large { display: none; }


            .footer-mobile .newsletter-signup {
                border-top: 1px #dcdede solid;
                border-bottom: 1px #dcdede solid;
            }


            .footer-mobile .newsletter-signup p {
                font-size: 0.68rem;
                font-weight: bold;
            }


            .footer-mobile .newsletter-signup > div > form {
                padding-bottom: 15px;
            }

            .footer-mobile .newsletter-signup .input-group .form-control,
            .footer-mobile .newsletter-signup .input-group .input-group-addon {
                border-color: #333333;
            }

            .footer-mobile .newsletter-signup .input-group-addon {
                background-color: #333333;
            }


            .footer-mobile .newsletter-signup .input-group-addon span {
                font-size: 13px;
                color: #ffffff;
            }

            .footer-mobile .newsletter-signup .form-control {
                color: #cccccc;
            }

            .footer-mobile ul.footer-links {
                padding-left: 10px;
            }

            .footer-mobile ul.footer-links li {
                list-style-type: none;
                line-height: 2rem;
            }


            .footer-mobile ul.footer-links li a {
                color: #333333;
            }

            .template-buttons-social { max-width: 100px; }

            .footer-mobile .col-xs-12 div.panel {
                margin-bottom: 0;
                background-color: #ffffff;
                border: none;
                border-radius: 0;
                box-shadow: none;
            }

            .footer-mobile .col-xs-12 .panel-heading {
                background-color: #ffffff;
                border: none;
            }

            .footer-mobile .col-xs-12 hr {
                margin: 0;
            }


            /* GLYPHICONS ----- */

                /* Collapsing accordion in footer area */
                .panel-heading .accordion-toggle:after {
                    /* symbol for opened panels */
                    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
                    content: "\e114";
                    float: right;
                    color: grey;
                }
                .panel-heading .accordion-toggle.collapsed:after {
                    /* symbol for "collapsed" panels */
                    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
                }


            /* ICONS FROM ICOMOON.IO ----- */

                @font-face {
                    font-family: 'mcn-icons';
                    src:    url('../fonts/mcn-icons.eot?vqxupr');
                    src:    url('../fonts/mcn-icons.eot?vqxupr#iefix') format('embedded-opentype'),
                    url('../fonts/mcn-icons.ttf?vqxupr') format('truetype'),
                    url('../fonts/mcn-icons.woff?vqxupr') format('woff'),
                    url('../fonts/mcn-icons.svg?vqxupr#mcn-icons') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }

                [class^="iconmcn-"], [class*=" iconmcn-"] {
                    /* use !important to prevent issues with browser extensions that change fonts */
                    font-family: 'mcn-icons' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;

                    /* Better Font Rendering */
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

                .iconmcn-user:before {
                    content: "\e900";
                }
                .iconmcn-search:before {
                    content: "\e901";
                }
                .iconmcn-cart:before {
                    content: "\e902";
                }
                .iconmcn-facebook:before {
                    content: "\e903";
                }
                .iconmcn-instagram:before {
                    content: "\e904";
                }
                .iconmcn-twitter:before {
                    content: "\e905";
                }
                .iconmcn-blogger:before {
                    content: "\e906";
                }
                .iconmcn-pinterest:before {
                    content: "\e907";
                }
                .iconmcn-houzz:before {
                    content: "\e908";
                }
                .iconmcn-menu:before {
                    content: "\e90a";
                }

            .houzz-saves-badge { display: none; }

            .template-legal {
                font-size: .7rem;
                line-height: 1em;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                color: #bcbcbc;
            }

        /* MEDIUM VIEWPORTS: 600px - 991px ----- */
            @media screen and (min-width: 600px) and (max-width: 991px) {
                .houzz-saves-badge { display: block; }
            }



        /* LARGE VIEWPORTS: 992px ----- */
            @media screen and (min-width: 992px) {
                /* UNHIDE LARGE VIEWPORT FOOTER */
                    /* This is unhidden as the large footer is for viewports > 991px */
                    .footer-large {
                        display: block;
                        background-color: #f2f2f2;
                        font-size: 12px;
                    }




                    .footer-large-row1 {
                        border-top: 1px #cccccc solid;
                        border-bottom: 1px #cccccc solid;
                    }




                /* HIDE SMALL VIEWPORT HEADER */
                    /* This is hidden as the small "mobile" footer is for viewports < 992px */
                    .footer-mobile { display: none; }

                /* FOOTER LARGE - ROW 1 - LINKS, HOUZZ BADGES, NEWSLETTER SIGN UP */

                    .footer-large-row1 .col-xs-4 {
                        border-left: 1px #cccccc solid;
                        height: 130px;
                    }





                    /* Styles the headings in the footer links */
                    .footer-links-heading {
                        font-weight: bold;
                        color: #858585;
                        margin-top: 10px;
                        margin-left: 10px;
                    }

                    /* Styles the heading for "Contact us" in the footer */
                    .footer-links-subheading {
                        font-weight: bold;
                        color: #858585;
                        display: block;
                        margin-top: 10px;
                        font-size: 12px;
                    }

                    /* Makes the ULs into a 2-column list */
                    .footer-large-row1 ul {
                        padding-left: 0;
                        display: block;
                        float: left;
                        color: #383838;
                        margin-left: 10px;
                    }

                    .footer-large-row1 ul:first-child {
                        padding-right: 20px;
                    }

                    .footer-large-row1 ul li {
                        list-style-type: none;
                        line-height: 1rem;
                        font-weight: bold;
                    }

                    .footer-large-row1 ul li a {
                        color: #383838;
                    }

                /* LARGE FOOTER - HOUZZ BADGES */
                .footer-large-row1 .footer-links-houzz { margin-top: -13px; }

                .footer-large-row1 .footer-links-houzz img {
                    height: 51px;
                    width: 51px;
                    padding-bottom: 5px;
                }


                .footer-large-row1 .newsletter-signup-container {
                    margin-left: 30px;
                    margin-top: 10px;
                }

                .footer-large-row1 .newsletter-signup .footer-newsletter-heading {
                    font-weight: bold;
                    color: #858585;
                }

                .footer-large-row1 .newsletter-signup input#email-input {
                    width: 285px;
                    height: 34px;
                    border: 1px #000000 solid;
                    background-image: url(../images/template/email-letter.png);
                    background-color: #ffffff;
                    background-repeat: no-repeat;
                    background-position: center left;
                    padding: 0 0 0 38px;
                    color: #111111;
                    font-size: 13px;
                    position: absolute;
                    top: 23px;
                }


                .footer-large-row1 .newsletter-signup input#email-submit {
                    width: 27px;
                    height: 34px;
                    position: absolute;
                    top: 23px;
                    left: 272px;
                }


                /* FOOTER LARGE - ROW 2 - TERMS, PRIVACY, LEGAL */


                .footer-large-row2 .footer-legal {
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 10px;

                }

                .footer-large-row2 .footer-legal .legal1 { margin-bottom: 8px; }

                .footer-large-row2 .footer-legal span.footer-spacer { margin: 0 10px; }

                .footer-large-row2 .footer-legal a { color: #000000; }

                .footer-large-row2 .footer-legal .legal2 {
                    font-size: 10px;
                    margin-bottom: 2px;
                }

            }







/* ------------------------------------------------------
    PAGE SPECIFIC STYLES
------------------------------------------------------ */

    /* ----- HOMEPAGE ----- */

        /* SMALL VIEWPORTS & DEFAULT STYLES (MOBILE FIRST) ----- */
            .homepage-content .col-xs-12 {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .homepage-content .col-xs-12 img {
                width: 100%;
            }


        /* This makes the homepage content move from being 100% width images to images in a 2 column layout */
        @media screen and (min-width: 480px) and (max-width: 599px) {

            .homepage-content .col-xs-12 {
                float: left;
                width: 50%;
            }

        }


        /* This changes the homepage content from a 2 column layout using floats to a 3 column layout using flexbox */
        @media screen and (min-width: 600px) {

            .homepage-content .col-xs-12 img {
                width: auto; /* This removes the 100% width applied previously to allow flexbox to work properly. */
            }

            .homepage-content .row {
                display: flex;
                justify-content: space-around;
            }

        }


    /* ----- CATEGORY PAGE ----- */

        /* Remove free shipping icon from the category page */
        .v-product__free-shipping { display: none; }



    /* ----- PRODUCT PAGE ----- */
        /* Removes breadcrumb */
            form#vCSS_mainform .vCSS_breadcrumb_td b { display: none; }

        .promotion-bar { /* NOTE: Should this be moved to the template styles? */
            height: 3em;
            line-height: 3em;
            font-family: 'Roboto Slab', sans-serif;
            font-size: 15px;

        }

        /* Product page buttons */
        .btn-cart,
        .btn-cart:active,
        .btn-cart:visited {
            background-color: #333333;
            border-color: #333333;
        }

        .btn-cart:hover {
            background-color: #cccccc;
            border-color: #cccccc;
        }

        .btn-wish-nest,
        .btn-wish-nest:active,
        .btn-wish-nest:active,
        .btn-wish-nest:hover,
        .btn-wish-nest:visited {
            border-color: #333333;
        }

        .vCSS_img_icon_free_shipping {
            display: none;
        }


        h1.mcn-product-name {
            color: #333333;
        }

        div.product_productprice {
            color: #666666;
        }

        .swatches {
            padding-bottom: 12px;
            position: relative;
        }

        .btn-request-swatches {
            margin-bottom: 10px;
        }

        .swatches #thumbs {
            overflow: hidden;
            font-size: 12px;
            color: #63665F;
            font-weight: 400;
        }

        .swatches #largeImage {
            width: 200px;
            border-bottom: 1px solid #dadadb;
        }

        .swatches #thumbs img,
        .swatches #largeImage { cursor: pointer; }

        .swatches #thumbs img {
            margin-right: 1px;
            margin-bottom: 1px;
            width: 59px;
        }


        .swatches #description {
            color: #666;
            position: relative;
            bottom: 0px;
            padding: 5px;
            margin: 0px;
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        .swatches #panel {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            border: 1px solid #dadadb;
            width: 200px;
            background: #fff;
        }

        .swatches .swatchTitle {
            font-style: normal !important;
            font-weight: 400 !important;
            font-size: 12px !important;
            height: inherit;
            line-height: 16px !important;
            color: #858585 !important;
            display: block !important;
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
            text-transform: uppercase;
        }

        #vZoomTransparentOverlay { background-color: #fff !important; }


        form#vCSS_mainform #Header_ProductDetail_ProductDetails_span { display: none; }

        #product-dimensions ul { margin: 10px 0; }

        #product-dimensions ul li { margin-left: 15px; }

        #product-description {
            margin: 10px 0;
        }


        #product-description ul {
            margin: 10px 0;
            padding-left: 15px;
        }

        /* Hides related products */
        #vCSS_mainform > table:nth-child(4) > tbody > tr > td > table.colors_lines_light { display: none; }



        /* Random stuff - possibly testing */










    /* ----- ARTICLE PAGES ----- */


        /* 278 SHOP ----- */

            .shop-cat-box { margin: 3px; }

        /* 282 MADE-IN-AMERICA ----- */

            #made-in-america p {
                font-size: 1rem;
                line-height: 1.5rem;
                margin: 2rem auto;
            }

            #made-in-america img { margin: 45px auto; }


        /* SWATCH REQUEST ----- */

            /* Default paragraph formatting for the page */
            .sr-text {
                font-size: 18px !important;
                font-weight: normal;
                font-family: 'Nunito', sans-serif;
                color: #525252;
                margin: 15px 10px;
            }

            .sr-text a {
                color: #000000;
                text-decoration: underline;
            }

            .sr-required {
                font-size: 12px !important;
                font-weight: normal;
                font-family: 'Nunito', sans-serif;
                color: #000000;
                margin: 15px 0 15px 40px;
            }

            p.sr-text img:first-of-type { /* Formats CAPTCHA image */
                min-width: 170px;
            }

            /* Formats field for CAPTCHA input */
            .sr-text input {
                width: 168px;
                margin-bottom: 25px;
            }

            /* Formats field for CAPTCHA input */
            .sr-text input[type=submit] {
                width: 125px;
                height: 30px;
                margin-bottom: 15px;
                font-size: 18px !important;
                color: #000000;
                margin-bottom: 15px ;
            }

            /* Formats headings containing Setps 1-3 of */
            h2.sr-step {
                font-size: 24px;
                font-weight: normal;
                font-family: 'Nunito', sans-serif;
                color: #333333;
                margin: 30px 10px 20px 10px;
            }

            form#sr-form {
                margin: 5px 0 20px 10px;
            }

            ul.sr-form-mailing {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            ul.sr-form-mailing li {
                margin: 10px 0;;
                padding: 0;
            }


            ul.sr-form-mailing label {
                width: 120px;
                text-align: right;
                margin-right: 15px;
                display: inline-block;
            }


            ul.sr-form-mailing input {
                width: 200px;
                display: inline-block;
            }

            /* This should probably be set as a percentage and also add a min-width */
            div#sr-swatches {
                width: 900px;
                font-size: 13px;
            }

            /* Container for each swatch type */
            div#sr-swatches .sr-group {
                margin: 15px 0;

            }

            #sr-swatches .sr-group h3.sr-group-title {
                font-size: 16px;
                font-weight: normal;
                font-family: 'Nunito', sans-serif;
                color: #555555;
                margin: 0 0 5px 10px;
                display: block;
            }

            #sr-swatches .sr-group p.sr-note {margin: 5px 0 10px 10px;}


            /* Container for each swatch image , checkbox and label */
            #sr-swatches .sr-panel {
                width: 150px;
                margin: 10px 5px;
                float: left;
                outline: 1px #999999 solid;
            }

            /* swatch image */
            #sr-swatches .sr-panel img {
                width: 150px;
            }

            /*container for checkbox and label in step 2 */
            #sr-swatches .sr-panel .sr-description {
                color: #666666;
                display: block;
                height: 50px;
                padding-top: 5px;
            }

            #sr-swatches .sr-panel .sr-description input {
                display: block;
                float: left;
            }


            #sr-swatches .sr-panel .sr-description label {
                display: block;
                float: left;
                padding-left: 3px;
                width: 80%;
            }




































/* ------------------------------------------------------
    TESTING
------------------------------------------------------ */


.testing1 { border: 1px red solid !important; }
.testing2 { border: 1px green solid !important;}
.testing3 { border: 1px blue solid !important;}

#content_area img { max-width: 100%; height: auto; }

.v65-product-parent {}








/* All code below is from productdetails.css */


.inner_breadcrumb_area a:first-child {
    float: left;
    line-height: 22px;
    margin-right: -5px
}

td.vCSS_breadcrumb_td a,td.vCSS_breadcrumb_td b {
    color: #e6be00;
    font-size: 12px;
    font-weight: 400
}

.product_listprice .custome-value .p_label>b {
    color: #717375;
    font-size: 14px;
    font-weight: 400
}

/* Changes the product price on the product page */
    #sale-price span#sale-price-amount,.product_productprice b>span.p_val,.product_productprice b>span[itemprop=price],.product_saleprice span[itemprop=price] {
        color: #000000;
        font-size: 32px !important;
        font-weight: 400
    }

.addtocart a,.addtocart a:hover,.addtocart_white a,.addtocart_white a:hover {
    display: block;
    width: 100%
}

.product_desc_inner>ul {
    margin: 10px 0;
    padding: 0 0 0 12px
}

font.productnamecolorLARGE.colors_productname {
    color: #002b51;
    display: inline-block;
    font-size: 30px;
    font-weight: 400
}

/* Styles the main sections on the product page that are dynamically added via main.js */
    .product_main_section_left {
        padding: 0 10px 0 15px;
        width: 45.6%
    }

    .product_main_section_right {
        padding: 0 10px;
        width: 54.4%
    }

#v65-product-parent>tbody>tr:first-child+tr>td[align=right] {
    padding-left: 5px;
    margin-bottom: 4%;
    width: 100%;
    background: 0 0
}

.colors_pricebox input td,.colors_pricebox select td {
    border: 1px solid #5b5d5e;
    color: #666
}

span+.colors_pricebox {
    background: 0 0;
    padding: 10px 15px
}

td[background="/v/vspfiles/templates/have_hold_r/images/PBox_Border_Left.gif"]+td {
    padding: 15px
}

.colors_pricebox span[itemprop=description] {
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    margin-bottom: 10px
}
/* Styles the product code under the product price */
    span.product_code,span.product_code_title {
        color: #8d8e90;
        font-size: 16px;
        font-style: normal;
        font-weight: 400
    }

    .product_code_outer .product_code_title {
        font-size: 16px
    }

    .product_code_outer .product_code {
        padding-left: 4px;
        font-size: 16px
    }

.colors_pricebox .product_listprice,.colors_pricebox .product_listprice b {
    color: #a0a0a0;
    font-size: 14px;
    font-weight: 400
}

.colors_pricebox .product_productprice,.colors_pricebox .product_productprice b {
    color: #a0a0a0!important;
    font-size: 14px;
    font-weight: 400!important
}

.colors_pricebox .product_saleprice,.colors_pricebox .product_saleprice b {
    color: #717375;
    font-size: 18px;
    font-weight: 400
}

.product_dealprice {
    color: #990000;
    font-size: 18px;
    font-weight: 400
}

.colors_pricebox .product_dealprice,.colors_pricebox .product_dealprice b {
    color: #e6be00;
    font-size: 18px;
    font-weight: 400
}

.colors_pricebox .product_yousave {
    color: #a0a0a0;
    font-size: 11px;
    font-weight: 600!important;
    font-style: normal!important
}

.product_listprice b {
    color: #717375;
    font-size: 16px;
    font-weight: 400
}

.custome-value {
    color: #282a2d;
    font-size: 18px;
    font-style: normal
}

.custome-value>span[itemprop] {
    color: #990000;
    font-size: 24px;
    font-weight: 400
}

.product_yousave {
    color: #717375;
    font-weight: 400
}

.save_price_txt {
    font-size: 16px
}

.save_price_val {
    font-size: 17px
}

.product_yousave span {
    font-style: normal!important
}

.product_pricing_area {
    float: left;
    width: 33%
}

.short_desc h3 {
    color: #0b3a72;
    font-size: 15px;
    font-weight: 400;
    margin-top: 17px
}

.short_desc {
    margin: 15px 0
}

.short_desc ul {
    list-style: none;
    margin: 0 auto;
    padding: 0
}

.short_desc li {
    color: #636161!important;
    font-size: 14px;
    padding-left: 11px
}

#options_table select,.v65-productdetail-cartqty {
    background: #fdfbfb;
    height: 33px;
    border: 1px solid #c9cfcf
}

.after_short_desc {
    overflow: hidden;
    margin-bottom: 5px;
    width: 100%
}

.qty_bx {
    float: left;
    width: 100%;
    padding-top: 2px;
    vertical-align: top
}

.product_option {
    display: inline-block;
    width: 100%
}

.custome-quantity {
    color: #535050;
    font-size: 16px
}

.v65-productdetail-cartqty {
    margin-bottom: 2px;
    text-align: center;
    display: inline-block
}

#options_table select {
    max-width: 483px;
    width: 100%;
    color: #434242;
    font-size: 15px
}

meta[content=InStock]+br {
    display: none
}

.product_offers {
    color: #8d8e90;
    font-weight: 400
}

.product_offers b {
    color: #3a3c3d;
    font-weight: 400
}

#altviews {
    display: block;
    margin-bottom: 24px;
    margin-top: 1px;
    text-align: left
}

#altviews a {
    display: inline-block;
    margin-right: 5px
}

/* Styles (?) button next to WGD option */
    #content_area .vCSS_img_help_options {
        margin-left: 3px;
        margin-right: 3px;
        max-width: none;
    }

#altviews br,#product_photo_zoom_url2,.col-lg-5 br,.vCSS_img_email_a_friend,img[src*="/a/i/blank.gif"] {
    display: none
}

#altviews img {
    height: 51px;
    width: 69px
}

.addToCart,.viewdetail {
    width: 111px;
    height: 34px
}

.mainsocialtable {
    display: block;
    text-align: left
}

#ProductMainWrap h1 {
    margin-top: 10px;
    padding-right: 50px
}

.product_pricing #sale-price,.product_productprice b font,.product_saleprice,.product_productprice {
    color: #717375;
    font-size: 22px;
    font-weight: 400
}

input[name=btnupdateprice] {
    margin-bottom: 14px
}

#product_description>p {
    line-height: 30px;
    margin-bottom: 15px
}

#product_description p+p+p {
    margin-bottom: 0
}

.v65-product-related-details-row {
    display: none
}

.addToCart {
    float: left
}

.viewdetail {
    float: right
}

.cartViewWrp>div {
    display: inline-block
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-15,.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-15,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-15,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-15,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.related_product .col-xs-1 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.RelatedBox {
    padding: 0 8px
}

.related_product .colors_productname {
    color: #4b699b;
    display: block;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
}

.related_product .ProName {
    margin: 12px auto;
    height: 36px;
    overflow: hidden
}

.custome-value>font {
    color: #000;
    font-size: 14px;
    font-weight: 400
}

.related_product .custome-value {
    color: #990000;
    font-weight: 400;
    font-size: 18px;
}

.cartViewWrp {
    margin-top: 9px
}

#v65-product-parent+table {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 17px
}

.product_dealprice .custome-value {
    display: none
}

.ProImage img {
    width: 100%
}

.in_down,.in_upper {
    background: #f2efef;
    display: inline-block;
    font-size: 21px;
    height: 33px;
    line-height: 33px;
    vertical-align: top;
    width: 29px;
    cursor: pointer;
    text-align: center
}

.in_down {
    border: 1px solid #c9cfcf;
    border-right: 0
}

.in_upper {
    border: 1px solid #c9cfcf;
    border-left: 0
}

td.qty_box_inner {
    display: none!important
}

.addtocart_white {
    text-align: center
}

.addtocart {
    display: inline-block;
    padding-left: 15px
}

.Prodetail {
    margin-bottom: 10px;
    padding-right: 0;
    text-align: center
}

br+.colors_pricebox {
    background: 0 0;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 5%
}

.colors_pricebox img[src$="Options_Text_Choose.gif"] {
    display: none
}

table#options_table font.colors_productname b {
    color: #535050;
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: -8px
}

br+.colors_pricebox table td {
    color: #a0a0a0
}

#options_table {
    font-size: 12px;
    margin-left: 0
}

#options_table td {
    padding: 2px 0
}

#options_table script+br+table>tbody>tr:first-child>td:first-child {
    padding: 2px 0 0 48px;
    display: block
}

br+.colors_pricebox script+br+table input.v65-productdetail-cartqty {
    margin: 0 auto
}

br+.colors_pricebox script+br {
    display: none
}

br+.colors_pricebox td[width="1"]+td[valign=top] br+table {
    width: 100%
}

br+.colors_pricebox td[width="1"]+td[valign=top] br+table>tbody>tr:first-child>td {
    display: block;
    padding: 11px 0 0
}

br+.colors_pricebox td[width="1"]+td[valign=top] br+table>tbody>tr:first-child>td:first-child {
    padding-left: 0
}

.addtocart_area.clearfix {
    margin: 0 0 10px
}

.addtocart_btn_outer {
    display: block;
    float: left;
    margin-right: 10px
}

img.vCSS_img_add_to_wishlist,input#v65-product-wishlist-button,input.vCSS_input_addtocart {
    margin: 0 auto;
    display: block
}

.wish_list_outer {
    display: block;
    float: left
}

br+.colors_pricebox img.vCSS_img_add_to_wishlist {
    margin-bottom: 10px
}

td[background$="PBox_Border_Left.gif"]+td>table>tbody>tr>td:first-child {
    display: block;
    padding: 0 15px
}

td#v65-productdetail-action-wrapper {
    display: block;
    text-align: center
}

td#v65-productdetail-action-wrapper table,td#v65-productdetail-action-wrapper tbody,td#v65-productdetail-action-wrapper td,td#v65-productdetail-action-wrapper tr {
    display: block
}

span#Header_ProductDetail_ExtInfo_span, span#Header_ProductDetail_TechSpecs_span,td#Header_ProductDetail_ExtInfo.vCSS_tab_unselected span#Header_ProductDetail_ExtInfo_span, td#Header_ProductDetail_TechSpecs.vCSS_tab_unselected span#Header_ProductDetail_TechSpecs_span {
    background: #FCFCFC;
    font-size: 18px;
    color: #43637f;
    display: block;
    font-weight: 400!important;
    line-height: 42px;
    padding: 0 10px;
}

td#Header_ProductDetail_ExtInfo.vCSS_tab_selected span#Header_ProductDetail_ExtInfo_span, td#Header_ProductDetail_TechSpecs.vCSS_tab_selected span#Header_ProductDetail_TechSpecs_span {
    background: transparent;
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400!important;
    line-height: 44px;
    padding: 0 15px;
    border: none!important
}

tr td[background$="expand_tab_left.gif"] img {
    display: none
}

tr td[background$="expand_tab_right.gif"] img {
    width: 7px
}

form .colors_descriptionbox {
    background: 0 0;
    border-width: 1px 0!important;
    -moz-border-image-width: 1px 0 1px 0!important;
    border-image-width: 1px 0 1px 0!important;
    border-image-outset: 0!important;
    border-image-slice: 1 1 4 1!important;
    display: block;
    padding-bottom: 11px;
    padding-top: 6px;
    min-height: 2px
}

form .colors_descriptionbox td {
    color: #29446d;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding-left: 10px;
}

/*#product_description>ul {*/
    /*line-height: 30px;*/
    /*list-style: none;*/
    /*padding: 0*/
/*}*/

/*#product_description>p {*/
    /*margin: 0*/
/*}*/

form .colors_descriptionbox td[width="1"] {
    padding: 0
}

#ProductDetail_ProductDetails_div2 {
    display: none;
}

.colors_lines_light .colors_backgroundlight,.v65-product-related-header-cell .colors_backgroundlight {
    background: 0 0;
    display: block
}

.colors_lines_light font.productnamecolorSMALL.colors_productname b,.related_hd {
    color: #002b51;
    display: block;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    text-indent: 0;
    text-transform: uppercase;
    text-align: left;
    padding: 0 8px
}

.related_outer.row {
    margin: 0 -8px
}

.detail_outer {
    padding: 0 12px 18px;
}

td.colors_background_main,td.v65-product-related-details-cell {
    background: 0 0;
    border: none;
    text-align: center;
    padding: 5px 15px
}

.colors_lines_light a.productnamecolorsmall.colors_productname {
    color: #e2bc00;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400
}

.colors_lines_light .product_productprice,.colors_lines_light .product_productprice .smalltext,.colors_lines_light .product_productprice b,.colors_lines_light .product_saleprice,.colors_lines_light .product_saleprice b {
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 400
}

.product_setupcost,.product_setupcost b {
    font-weight: 400!important
}

@media only screen and (max-width: 767px) {
    #related_products_content .v65-productPhoto img {
        display:block;
        width: 100%\9;
        max-width: 100%;
        height: auto
    }

    .colors_lines_light a.productnamecolorsmall.colors_productname {
        font-size: 11px;
        padding: 0
    }

    .product_main_section_right {
        width: 100%
    }
}

#v65-product-history-header td:first-child:before,#v65-product-reviews .v65-product-reviews-cell:before {
    text-transform: uppercase;
    left: 0;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: 100%;
    display: block;
    background: 0 0
}

#v65-product-reviews {
    margin-top: 25px;
    padding-top: 35px;
    position: relative
}

#v65-product-reviews .v65-product-reviews-cell:before {
    color: #fff;
    content: "Customer Reviews";
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    border-bottom: 1px solid #39393a;
    margin-bottom: 10px
}

a[href*="write+a+review"],a[href*="ReviewNew.asp"] {
    color: #999
}

a[href*="write+a+review"]:hover,a[href*="ReviewNew.asp"]:hover {
    text-decoration: underline
}

table#v65-product-reviews td.v65-product-reviews-cell {
    display: block;
    margin: 50px 0 10px
}

div[itemprop=aggregateRating] img.vCSS_img_star_avg_rating {
    float: none;
    margin-right: 5px;
    vertical-align: sub
}

#v65-product-reviews table>tbody>tr>td:first-child b,#v65-product-reviews table>tbody>tr>td>b {
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 400
}

#v65-product-reviews table>tbody>tr>td:first-child>span {
    color: #a0a0a0;
    font-size: 12px!important;
    font-weight: 400!important;
    white-space: nowrap
}

/*#v65-product-reviews table>tbody>tr>td>.nobr a {*/
    /*font-size: 12px;*/
    /*font-weight: 400*/
/*}*/

br+table[width="100%"] td[width="1%"]+td[width="100%"] {
    color: #a0a0a0;
    font-size: 12px!important;
    font-weight: 400;
    padding-bottom: 5px;
    padding-left: 0
}

table#product_reviews_description_box {
    background: 0 0;
    border: none;
    padding: 10px 15px
}

table#product_reviews_description_box td[width="1px"]+td[width="100%"]>table>tbody>tr:first-child b {
    color: #a0a0a0;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 5px
}

table#product_reviews_description_box td[width="1px"]+td[width="100%"]>table>tbody>tr:first-child i {
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400
}

table#product_reviews_description_box td[width="1px"]+td[width="100%"]>table>tbody>tr:first-child+tr i {
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 3px
}

table#product_reviews_description_box td[width="1px"]+td[width="100%"] {
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4
}

td[width="100%"] table.colors_descriptionbox {
    border: none;
    background: 0 0;
    border-bottom: 1px solid #3c3c3c
}

td[width="100%"] table.colors_descriptionbox td {
    color: #fff;
    font-weight: 400;
    font-size: 13px
}

td[width="100%"] table.colors_descriptionbox td b {
    color: #fff;
    font-size: 14px;
    font-weight: 600
}

#v65-product-history-header {
    height: 45px;
    margin-bottom: 10px;
    position: relative
}

#v65-product-history-header td:first-child:before {
    color: #fff;
    content: "Recent Items";
    border-bottom: 1px solid #39393a;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px
}

#TurnHistoryOnOffContainer {
    margin-right: 10px;
    margin-top: 2px;
    position: relative;
    z-index: 2
}

.historyitem_productname a {
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3px
}

.historyitem_productprice b font.pricecolor.colors_productprice {
    color: #a0a0a0;
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px
}

td.vCSS_breadcrumb_td>b {
    text-indent: -4px
}

td[background] {
    background: 0 0!important
}

#content_area table[bgcolor="#CCCCCC"] {
    margin: 0 auto
}

.Multi-Child_Background input.vCSS_input_addtocart {
    margin: 0;
    display: block
}

td.vCSS_breadcrumb_td b {
    display: block;
    margin-bottom: 10px
}

#altviews[style="visibility:hidden"],#options_table tr>td:first-child br,form#vCSS_mainform>br,form#vCSS_mainform>img,td.vCSS_breadcrumb_td>b+br,td.vCSS_breadcrumb_td>b+br+img,td.vCSS_breadcrumb_td>img+br {
    display: none
}

.colors_lines_light {
    background: 0 0
}

table.colors_backgroundlight {
    display: block;
    margin-bottom: -1px
}

#content_area>div>br+table[width="100%"] td[width="1%"],#content_area>div>br+table[width="100%"]+table[width="100%"] td[width="1%"],#vCSS_mainform+br,table#v65-product-reviews td.v65-product-reviews-cell>br {
    display: none
}

table.colors_lines_light td.colors_backgroundlight {
    padding: 0
}

table.colors_backgroundlight_dark {
    background: 0 0
}

table#v65-product-history-body {
    background: 0 0;
    border: none
}



#v65-product-reviews table>tbody>tr>td:first-child {
    width: auto!important;
    max-width: 230px!important;
    padding-right: 5px
}

#v65-product-reviews table>tbody>tr>td:first-child>span {
    position: static!important
}

#v65-product-reviews table>tbody>tr>td:first-child>span>span {
    position: inherit!important;
    left: auto!important
}

table#v65-product-reviews td.v65-product-reviews-cell,table#v65-product-reviews td.v65-product-reviews-cell td {
    padding: 0
}

table {
    border-spacing: inherit
}

table td {
    padding: inherit
}

#productName_above {
    display: none!important
}

#productName_below {
    display: block!important
}

/* Styles the cell that contains the main product image and alt views */
    #v65-product-parent>tbody>tr:first-child+tr>td[align=center] {
        min-width: 100px;
    }


    @media screen and (min-width: 480px) and (max-width: 991px) {
        #v65-product-parent>tbody>tr:first-child+tr>td[align=center] {
            min-width: 400px;
        }
    }

    @media screen and (min-width: 992px) {
        #v65-product-parent>tbody>tr:first-child+tr>td[align=center] {
            min-width: 520px;
        }
    }







#v65-product-parent tbody tr td table.colors_pricebox input+br+div {
    text-align: center!important;
    margin-bottom: 20px
}

.product_pricing_area.giftPrice {
    width: auto;
    max-width: 30%
}

@media only screen and (max-width: 767px) {
    #v65-product-parent>tbody>tr+tr>td {
        display:block;
        clear: both
    }

    #vZoomArea {
        display: none
    }

    #v65-product-parent>tbody>tr:first-child+tr>td[align=right] {
        padding-left: 0
    }

    .product_pricing_area.giftPrice {
        width: auto;
        max-width: 100%
    }
}

@media only screen and (max-width: 480px) {
    span#Header_ProductDetail_ExtInfo_span,span#Header_ProductDetail_TechSpecs_span,td#Header_ProductDetail_ExtInfo.vCSS_tab_unselected span#Header_ProductDetail_ExtInfo_span,td#Header_ProductDetail_TechSpecs.vCSS_tab_unselected span#Header_ProductDetail_TechSpecs_span {
        font-size:11px;
        padding: 0 5px
    }

    form .colors_descriptionbox, form .colors_descriptionbox table {
        width: 100%;
        table-layout: fixed
    }

    form .colors_descriptionbox td {
        font-size: 11px
    }

    #v65-product-parent>tbody>tr:first-child+tr>td[align=right],.v65-productDisplay {
        table-layout: fixed
    }

    #product_photo {
        width: 100%
    }
}

#product_photo_zoom_url {
    display: inline-block;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #eee
}

#btn_vsharethis a {
    padding: 4px
}

.fb_iframe_widget {
    width: auto!important
}

#product_photo {
    float: none;
    width: 100%;
}

.product_main_section_area.row {
    margin: 0 0 0 -15px;
}

@media (max-width: 1422px) {
    .container_inner {
        padding:0 15px;
    }

    .addtocart_btn_outer {
        margin-right: 2%;
        width: 49%;
    }

    .wish_list_outer {
        width: 46.2%
    }

    #v65-product-wishlist-button,.vCSS_input_addtocart {
        width: 100%;
        max-width: 300px;
    }

    .RelatedBox .product_productprice {
        text-align: center;
    }

    .RelatedBox .addtocart,.RelatedBox .addtocart a {
        margin-bottom: 5px;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .RelatedBox .addtocart a {
        padding: 4px 11px;
    }

    .RelatedBox .addtocart_white a {
        text-align: center;
        width: 100%;
    }

    .RelatedBox .addtocart_white {
        padding: 0;
        width: 100%;
    }

    #ProductMainWrap h1 {
        margin: 0!important;
        padding: 0!important;
    }
}

@media only screen and (max-width: 1199px) {
    .RelatedBox {
        width:25%;
    }
}

@media only screen and (max-width: 990px) {
    .product_main_section_left,.product_main_section_right {
        float:left;
    }

    font.productnamecolorLARGE.colors_productname {
        font-size: 24px;
    }

    #options_table select {
        width: 100%;
    }

    .product_pricing_area, .qty_bx {
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    #productName_above {
        display:block !important;
    }

    #productName_below {
        display: none !important;
    }

    .product_main_section_left {
        float: none;
        padding: 0;
        width: 100%;
    }

    #product_img_area {
        width: 100%;
    }

    #altviews {
        text-align: center;
    }

    .mainsocialtable {
        width: 250px;
    }

    .product_main_section_right {
        float: none;
        padding: 0;
        width: 100%;
    }

    #ProductMainWrap h1 {
        padding-right: 0;
        text-align: center;
    }

    .product_code_outer {
        text-align: center;
        margin-bottom: 10px;
    }

    font.productnamecolorLARGE.colors_productname {
        font-size: 28px
    }
}

@media only screen and (max-width: 768px) {
    .RelatedBox {
        width:50%
    }
}

@media only screen and (max-width: 450px) {
    .RelatedBox {
        width:100%
    }

    font.productnamecolorLARGE.colors_productname {
        font-size: 20px
    }

    #product_description>p {
        line-height: 20px;
        font-size: 14px
    }

    .addtocart_btn_outer,.wish_list_outer {
        width: 90%;
        margin: 0 0 10px;
        float: none
    }
}

@media only screen and (max-width: 478px) {
    table.product_pricing font {
        width:inherit
    }

    .product_pricing td:first-child>font.colors_productprice,.product_pricing td:first-child>font.productnamecolor.colors_productname,.product_pricing td:first-child>font.text.colors_text:first-child {
        text-align: left;
        width: 100%
    }
}

@media only screen and (max-width: 460px) {
    .detail_outer {
        border-bottom:1px dotted #ddd;
        margin-bottom: 15px;
    }
}

#leftNav {
    display: none;
}

.related_product .product_productprice > b {
    color: #898b8e !important;
    font-weight: bold;
}

#content_area {
    padding-left: 15px !important;
    width: 100% !important;
}

.addtocart_white, .Prodetail .product_productprice .smalltext.colors_text {
    display: none;
}

.related_product .v65-productPhoto img {
    max-width: 100px;
    min-width: 100px;
}

.alt {
    display: none;
}

.desc-below {
    border-top: 1px dashed #eee;
    color: #29446d;
    font-size: 16px;
    margin-top: 15px;
    padding-top: 7px;
}

.short_desc {
    color: #29446d;
    font-size: 16px;
}

.prod-desc-main-wrapper {
    background: #ebf1fa;
    -webkit-box-shadow: inset 0 8px 8px -10px #ccc,0 3px 3px 0 #eee;
    -moz-box-shadow: inset 0 8px 8px -10px #ccc,0 3px 3px 0 #eee;
    box-shadow: inset 0 8px 8px -10px #ccc,0 3px 3px 0 #eee;
    padding: 15px 0;
}

#product_description {
    margin-top: 20px;
}

.related-title, .desc-title {
    font-size: 25px;
    color: #000;
    font-size: 25px;
    font-weight: 400 !important;
    line-height: 44px;
    padding: 0 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.prod-related-main-wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
}

.accordion-body {
    height: auto !important;
}

.ExtInfo-wrapper, .MoreInfo-wrapper {
    -webkit-box-shadow: -5px 3px 10px 0 #eee, 0 0 0 0 #fff;
    -moz-box-shadow: -5px 3px 10px 0 #eee, 0 0 0 0 #fff;
    box-shadow: -5px 3px 10px 0 #eee, 0 0 0 0 #fff;
    padding-bottom: 30px;
    padding-top: 20px;
}


.vCSS_img_email_a_friend, .tested-results {
    display: none;
}

.tested-results-btn, .tested-results-btn-2 {
    background: #54698a;
    color: #fff !important;
    display: inline-block;
    float: left;
    margin-right: 10px;
    padding: 0 10px;
}

.tested-results-btn:hover, .tested-results-btn-2:hover {
    cursor: pointer;
    background: #002b51;
}

.tested-results-wrapper-2 {
    margin: 0 auto;
    text-align: center;
    width: 250px;
}

.tested-results-btn-2 {
    float: none!important
}

.tested-results-wrapper {
    margin-top: 10px;
}

.inner_breadcrumb_area {
    padding-left: 7px;
}

/* Styles the product info: product description, dimensions, details */
    #ProductDetail_ProductDetails_div {
        padding: 0 15px;
    }

    #ProductDetail_ProductDetails_div ul { padding-left: 15px; }


    #ProductDetail_ProductDetails_div div[style="height: 15px;"],img[src*=OBox_Border_],img[src*=PBox_Border_],img[src*=Line_Group_],img[src*=DBox_Border_] {
        display: none
    }

.showbullets ul li {
    list-style: circle !important;
    margin-left: 15px;
}

.short_desc li {
    list-style: none;
}

#sb-body img {
    max-width: 100% !important;
}

#sb-player.html {
    overflow: hidden;
}

.offer-details {
    display: none!important
}
