</div><!-- end #content_area - this is a special Volusion div -->
</div><!-- end #content-container -->

<div id="footer-links">
	<div id="footer-links-content">
    	<div id="col-1">
        	<span class="bold">CUSTOMER SERVICE</span>
            <div id="subcol-a1" class="subcol">
            	<div><a href="/help_answer.asp?ID=9">FAQs</a></div>
                <div><a href="/Articles.asp?ID=283">Free Shipping</a></div>
                <div><a href="/Articles.asp?ID=284">Product Care</a></div>
            </div>
            <div id="subcol-a2">
                <div><a href="/Articles.asp?ID=279">Swatch Request</a></div>
                <div><a href="/Articles.asp?ID=280">Customer's Own Material</a></div>
            </div>
        </div><!-- end #col-1 -->
        <div id="col-2">
            <span class="bold">MY CHIC NEST</span>
                <div id="subcol-b1" class="subcol">
                    <div><a href="/aboutus.asp">About Us</a></div>
                    <div><a href="/Articles.asp?ID=262">Press</a></div>
                    <div>Contact Us<br />
						<ul>
							<li><a href="mailto:anna@mychicnest.com?subject=Contact Us">customerservice@mychicnest.com</a></li>
							<li><a href="mailto:corporate@mychicnest.com">corporate@mychicnest.com</a></li>
                        </ul>
                    </div>
                </div>
        </div><!-- end #col-2 -->
        <div id="col-3">
        	<a href="http://www.houzz.com/pro/mychicnest/my-chic-nest" target="_blank"><img src="/v/vspfiles/templates/mcn_2015/images/template/best-of-houzz-2013.png" alt="Best of Houzz 2013" /></a>
            <a href="http://www.houzz.com/pro/mychicnest/my-chic-nest" target="_blank"><img src="/v/vspfiles/templates/mcn_2015/images/template/best-of-houzz-2014.png" alt="Best of Houzz 2014" id="houzz-2014" /></a>
        </div><!-- end #col-3 -->
        <div id="col-4">
            <div id="subcol-c1">
	            <span class="bold">SIGN UP FOR OUR NEWSLETTER</span>
                <form name="MailingList" id="mailinglist" method="post" action="/MailingList_subscribe.asp">
                    <input type="text" name="emailaddress" id="email-input" value="Enter your email address" onFocus="if (this.value=='Enter your email address') this.value='';" onBlur="if (this.value=='') this.value='Enter your email address';" />
                   	<input type="image" src="/v/vspfiles/templates/mcn_2015/images/template/email-submit.png" name="submit2" id="email-submit" alt="Search"/>
                </form>
            </div><!-- end #subcol-c1 -->
        </div><!-- end #col-4 -->
    </div><!-- end #footer-links-content -->
</div><!-- end #footer-links -->



<div id="footer-legal">
    <div id="footer-legal-content">
        <div id="legal-1">&copy; 2015 My Chic Nest LLC. All Rights Reserved. <span class="foot-spacer">|</span> <a href="http://www.mychicnest.com/terms.asp">Terms and Conditions</a> <span class="foot-spacer">|</span> <a href="http://www.mychicnest.com/terms_privacy.asp">Privacy Policy</a></div><!-- end #legal-1 -->
        <div id="legal-2">IMAGE OF IDA DAYBED Credits: Designer: Alexandra Kaehler <span class="foot-spacer">|</span> Photographer: Cynthia Lynn</div><!-- end #legal-2 -->
    </div><!-- end #footer-legal-content -->
</div><!-- end #footer-legal -->


<!-- Hellobar scripts -->
<script type="text/javascript" src="//www.hellobar.com/hellobar.js"></script>
<script type="text/javascript">
    new HelloBar(44940,120410);
</script>


<!-- Google Remarketing Scripts/Tags - Setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1002143297;
	var google_conversion_label = "4I1KCJ_Z4AMQwfzt3QM";
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
</script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">

</script>

<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1002143297/?value=0&amp;label=4I1KCJ_Z4AMQwfzt3QM&amp;guid=ON&amp;script=0"/>
	</div>
</noscript>




<script type="text/javascript">function store_init(event){} AttachEvent(window, 'load', store_init);</script>

<script type="text/javascript">
	if (!/\/shoppingcart\.asp/i.test(window.location.pathname)) {
		jQuery(document).ready(function() {
			jQuery('a').each(AddCartLink)
		});
	}
</script>

</body>
</html>